.policies {
	
	padding: 1em 1.1em;
	
	font-size: 0.875em;
	
	h1 {
		margin-bottom: 1em;
		padding: 0;
		text-align: left;
	}
	
	h3 {
		color: #1f1f1f;
		font-size: 0.9em;
		padding: 0.2em 0;
	}
	
	ol {
		margin-bottom: 1em;
		padding: 0.3em 0;
	}
	
	time {
		color: #858585;
		display: inline-block;
		margin-right: 0.6em;
		text-align: right;
		width: 4.5em;
	}
	
	.name {
	    display: inline-block;
	    margin-left: 0.6em;
	}
	
	li {
		padding: 0.45em 0.3em;
	}
}