// Policy Central 2.0 - SCSS Globals
@import "susy";
@import "compass";

// Custom bootstrap variables go here
$body-bg: inherit !default;
$icon-font-path: "/font/" !default;
$nav-tabs-active-link-hover-bg: #fff;
$table-bg-hover: rgba(255, 200, 255, .5) !default;

// SVG Backgrounds
$experimental-support-for-svg: true;

// SUSY Settings
// http://susy.oddbird.net
// Using a 12-col very fluid layout
//
$total-columns: 12;
$gutter-width: 1em;
$grid-padding: 1.5%;
$container-style: fluid;
$container-width: 100%;

// Core color definitions
$blue: #165788;

// Insight blue
$darkblue: #002857;

// Good for text
$lightgray: #ededed;

// Used for policy modules, etc.
$modulegray: #f4f4f4;

// Background gray
$darkgray: dimgrey;

// Good for text
$orange: #fe8400;
$darkgreen: #4d6c00;
$white: white;
$colblue: #007ac9;

// Sortable column headers & such
$rowselect: #ffccff;

$yellow: #fcd450;
$green: #247200;
$green-light: #97ee6f;
$red: #981e32;

// Flash Msg. Colors
$success-text: white;
$success-base: lighten($green, 10);
$success-bottom: lighten($green, 5);
$notice-text: darken($yellow, 43);
$notice-base: $yellow;
$notice-bottom: darken($yellow, 3);
$warning-text: white;
$warning-base: $red;
$warning-bottom: $red;

// bootstrap alerts
$alert-default: $modulegray;
$alert-default-dark: darken($alert-default, 5%);
$alert-info: #2b90d2;
$alert-info-dark: darken($alert-info, 5%);
$alert-success: $success-base;
$alert-success-dark: darken($alert-success, 5%);
$alert-warning: darken($yellow, 10%);
$alert-warning-dark: darken($alert-warning, 5%);
$alert-danger: $warning-base;
$alert-danger-dark: darken($alert-danger, 5%);

$base-border-radius: 3px;
$btn-background: #d5cdcd;
$btn-background-highlight: lighten($btn-background, 15%);
$btn-border: darken($btn-background, 5%);

$btn-primary-background: darken($alert-info, 15%);
$btn-primary-background-highlight: lighten($btn-primary-background, 15%);

$btn-dark-background: #6f6d6d;
$btn-dark-background-highlight: lighten($btn-dark-background, 15%);

// Core font stacks
@mixin sans {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Generate pixel & rem size (for IE & everyone else)
@function size($pixels) {
  $rem: $pixels / 10;
  @return #{$rem}rem;
}

// Generate font-size stack using px/rem
@mixin font-size($pixels) {
  font-size: #{$pixels}px;
  font-size: size($pixels);
}

// Divider line for light gray backgrounds
// $position == top if you need divider above an elements
// $position == bottom if you need it below
@mixin divider($position) {
  border-#{$position}: $white 1px solid;
  box-shadow: darken($lightgray, 20) 0 -1px 0;
}

@mixin emboss($color: white) {
  text-shadow: 0 1px $color;
}

// Buttons
@mixin simple-color($base-hue, $base-saturation, $base-lightness) {
  $start-gradient: hsl($base-hue, $base-saturation, $base-lightness);
  $stop-gradient: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 11%), 9%);
  $border: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 14%), 9%);
  $inset-shadow: desaturate(lighten(hsl($base-hue, $base-saturation, $base-lightness), 14%), 8%);
  $text-shadow: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 18%), 15%);
  $color: hsl(0, 0, 100%);
  @if $base-lightness > 70% {
    $color: hsl(0, 0, 20%);
    $text-shadow: saturate(lighten(hsl($base-hue, $base-saturation, $base-lightness), 4%), 10%);
  }
  @include background-image(linear-gradient($start-gradient, $stop-gradient));
  border: 1px solid $border;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 0 0 $inset-shadow);
  color: $color;
  font-weight: bold;
  padding: 9px 12px;
  text-shadow: 0 1px 0 $text-shadow;
  text-align: center;
  @include sans;
  @include font-size(14);
  &:hover {
    $start-gradient: desaturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 5%), 4%);
    $stop-gradient: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 14%), 8%);
    $inset-shadow: desaturate(lighten(hsl($base-hue, $base-saturation, $base-lightness), 5%), 7%);
    @include background-image(linear-gradient($start-gradient, $stop-gradient));
    @include box-shadow(inset 0 1px 0 0 $inset-shadow);
    cursor: pointer;
  }
  &:active {
    $border: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 14%), 9%);
    $inset-shadow: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 17%), 7%);
    @include box-shadow(inset 0 0 8px 4px $inset-shadow, inset 0 0 8px 4px $inset-shadow, 0 1px 1px 0 #eeeeee);
    border: 1px solid $border;
  }
}

// Button backgrounds
// ------------------
@mixin button-background($start-color, $end-color, $text-color: #fff, $text-shadow: 0 -1px 0 rgba(0,0,0,.25)) {
  // gradientBar will set the background to a pleasing blend of these, to support IE<=9
  @include gradient-bar($start-color, $end-color, $text-color, $text-shadow);
  *background-color: $end-color; /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  @include reset-filter();

  // in these cases the gradient won't cover the background, so we override
  &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
    color: $text-color;
    background-color: $end-color;
    *background-color: darken($end-color, 5%);
  }

  // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active {
    background-color: darken($end-color, 10%) \9;
  }
}

// Gradient Bar Colors for buttons and alerts
@mixin gradient-bar($primary-color, $secondary-color, $text-color: #fff, $text-shadow: 0 -1px 0 rgba(0,0,0,.25)) {
  color: $text-color;
  text-shadow: $text-shadow;
  @include gradient-vertical($primary-color, $secondary-color);
  border-color: $secondary-color $secondary-color darken($secondary-color, 15%);
}

@mixin gradient-vertical($start-color: #555, $end-color: #333) {
  background-color: mix($start-color, $end-color, 60%);
  background-image: -moz-linear-gradient(top, $start-color, $end-color); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $start-color, $end-color); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color, $end-color); // Opera 11.10
  background-image: linear-gradient(to bottom, $start-color, $end-color); // Standard, IE10
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

// Reset filters for IE
@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

// Drop shadows
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    // 1
    display: table;
    // 2
 
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix;
}

// Remove outline around links
a {
  outline: none;
}