// Policy Central 2.0 - SCSS Globals
@import "susy";
@import "compass/css3"; 

// SVG Backgrounds
$experimental-support-for-svg: true;

// SUSY Settings
// http://susy.oddbird.net
// Using a 12-col very fluid layout
//
$total-columns  : 12;
$gutter-width   : 1em;           
$grid-padding   : $gutter-width;
$container-style: fluid;
$container-width: 95%;

// Core color definitions
$blue      : #165788; // Insight blue
$darkblue  : #002857; // Good for text
$lightgray : #ededed; // Background gray
$darkgray  : #696969; // Good for text
$orange    : #fe8400;
$darkgreen : #4d6c00;
$white     : #fff;

// Core font stacks
@mixin sans {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Generate pixel & rem size (for IE & everyone else)
@function size($pixels) {
	$rem : $pixels / 10;
	@return #{$rem}rem;
}

// Generate font-size stack using px/rem
@mixin font-size($pixels) {
	font-size: #{$pixels}px;
	font-size: size($pixels);
}

// Divider line for light gray backgrounds
@mixin divider {
	border-top: $white 1px solid;
	box-shadow: darken($lightgray, 20) 0 -1px 0;
}