.bw-wrapper {
  @include clearfix;
  padding: 15px;
}

#bw {
  .pc-nav {
    display: block;
  }
}

.batch-id {
  text-transform: capitalize;
}

.policy-lookup {
  text-transform: uppercase;
}

.action-row {
  margin-bottom: 47px;
}

.info-toggle {
  cursor: pointer;
}

.panel-table {
  margin-left: -15px;
  margin-right: -15px;

  .tr {
    > .td:first-child,
    > .th:first-child {
      padding-left: 15px;
    }

    > .td:last-child,
    > .th:last-child {
      padding-right: 15px;
    }
  }
}

.calc-group {
  margin-bottom: 0;
}

.calculated {
  margin-top: 5px;
  padding-left: 46px;
}
