.bw-wrapper {
  @include clearfix;
  padding: 15px;
}

#bw {
  .pc-nav {
    display: block;
  }
}

.action-row {
  margin-bottom: 47px;
}

.info-toggle {
  cursor: pointer;
}

.calc-group {
  margin-bottom: 0;
}

.calculated {
  margin-top: 5px;
  padding-left: 46px;
}