// Utilities to show/hide SageSure/FedNat specific items
.show-fnic {
  display: none !important;
}

.is-fnic {
  .show-cru  { display: none !important; }
  .show-fnic { display: inherit !important; }
}