/* Button overrides */

.button-green {
  @include simple-color(79, 100%, 32%);
}

.button-disabled {
  @include simple-color(360, 0%, 93%);
}

.btn {
  @include button-background($btn-background-highlight, $btn-background, $darkgray, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid $btn-border;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken($btn-border, 10%);
  border-radius: $base-border-radius;
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));
  font-weight: bold;

  // Hover/focus state
  &:hover,
  &:focus {
    color: $darkgray;
    text-decoration: none;
    background-position: 0 -15px;

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    @include transition(background-position .1s linear);
  }

  // Active state
  &.active,
  &:active {
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05));
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    @include opacity(.65);
    @include box-shadow(none);
  }
}

.btn-default {
  &.disabled,
  &[disabled] {
    border-color: #aaa;

    &:hover {
      border-color: #aaa;
      background-color: #d5cdcd;
    }
  }
}

.btn-dark {
  @include button-background($btn-dark-background-highlight, $btn-dark-background, #fff, 0 -1px 0 rgba(0, 0, 0, 0.85));
}

.btn-primary {
  @include button-background($btn-primary-background-highlight, $btn-primary-background, #fff, 0 -1px 0 rgba(0, 0, 0, 0.85));
}

.btn-danger {
  @include button-background($btn-danger-background-highlight, $btn-danger-background, #fff, 0 -1px 0 rgba(0, 0, 0, 0.85));
}

.btn-success {
  @include button-background($btn-success-background-highlight, $btn-success-background, #fff, 0 -1px 0 rgba(0, 0, 0, 0.85));
}

input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
}

