.checkbox-label {
  position: relative;
  margin-bottom: 0;
  padding-left: 20px;
  min-height: 20px;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
  }
}