/* Alternative "table" for when you need more control than a table can give */

// Quick loop to define column widths up to the $table-max-columns for our div tables
@mixin make-table-columns($table-max-columns) {
  @for $index from 1 through $table-max-columns {
    .table-#{$index}-columns {
      .th,
      .td {
        width: percentage((1 / $index));
      }
    }
  }
}

.div-table {
  background-color: $table-bg;

  .thead,
  .tbody,
  .tfoot {
    @include clearfix();
    padding-left: 15px;
    padding-right: 15px;
  }

  .tr {
    @include make-row();
    border-top: 1px solid $table-border-color;
  }

  a.tr {
    display: block;
    color: inherit;
    cursor: pointer;
  }

  .tr:first-child {
    border-top: 0;
  }

  .th,
  .td {
    position: relative;
    float: left;
    min-height: 1px;
  }

  > .thead,
  > .tbody,
  > .tfoot {
    > .tr {
      > .th,
      > .td {
        overflow: hidden;
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        text-overflow: ellipsis;
      }
    }
  }

  > .thead > .tr {
    border-bottom: 2px solid $table-border-color;

    > .th {
      font-weight: bold;
    }
  }
}

.table-condensed {
  > .thead,
  > .tbody,
  > .tfoot {
    > .tr {
      > .th,
      > .td {
        padding: $table-condensed-cell-padding;
      }
    }
  }
}

.table-bordered {
  border: 1px solid $table-border-color;
  > .thead,
  > .tbody,
  > .tfoot {
    > .tr {
      > .th,
      > .td {
        border: 1px solid $table-border-color;
      }
    }
  }
  > .thead > .tr {
    > .th,
    > .td {
      border-bottom-width: 2px;
    }
  }
}

.table-striped {
  > .tbody > .tr:nth-child(odd) {
    background-color: $table-bg-accent;
  }
}

.table-hover {
  > .tbody > .tr:hover {
    background-color: $table-bg-hover;
  }
}

.table-scrollable {
  .tbody {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.table-sortable {
  .caret {
    display: none;
  }

  .desc,
  .asc {
    .caret {
      display: inline-block;
    }
  }

  .asc .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
  }

  .th > a {
    cursor: pointer;
  }
}

.panel {
  > .div-table {
    margin-bottom: 0;
  }
  // Add border top radius for first one
  > .div-table:first-child {
    @include border-top-radius(($panel-border-radius - 1));

    > .thead:first-child,
    > .tbody:first-child {
      > .tr:first-child {
        .td:first-child,
        .th:first-child {
          border-top-left-radius: ($panel-border-radius - 1);
        }
        .td:last-child,
        .th:last-child {
          border-top-right-radius: ($panel-border-radius - 1);
        }
      }
    }
  }
  // Add border bottom radius for last one
  > .div-table:last-child {
    @include border-bottom-radius(($panel-border-radius - 1));

    > .tbody:last-child,
    > .tfoot:last-child {
      > .tr:last-child {
        .td:first-child,
        .th:first-child {
          border-bottom-left-radius: ($panel-border-radius - 1);
        }
        .td:last-child,
        .th:last-child {
          border-bottom-right-radius: ($panel-border-radius - 1);
        }
      }
    }
  }
  > .panel-body + .div-table {
    border-top: 1px solid $table-border-color;
  }
  > .div-table > tbody:first-child > tr:first-child th,
  > .div-table > tbody:first-child > tr:first-child td {
    border-top: 0;
  }
  > .table-bordered {
    border: 0;
    > .thead,
    > .tbody,
    > .tfoot {
      > .tr {
        > .th:first-child,
        > .td:first-child {
          border-left: 0;
        }
        > .th:last-child,
        > .td:last-child {
          border-right: 0;
        }
      }
    }
    > .thead,
    > .tbody {
      > .tr:first-child {
        > .td,
        > .th {
          border-bottom: 0;
        }
      }
    }
    > .tbody,
    > .tfoot {
      > .tr:last-child {
        > .td,
        > .th {
          border-bottom: 0;
        }
      }
    }
  }
}

// Calculate all our column widths for tables with up to 24 columns
@include  make-table-columns(24);
