#header {
	color: $white;
	@include background-image(linear-gradient(top, $blue, darken($blue, 10)));
}

#header-container {
	@include container;
	width: auto;
}

.header-group {
	@include span-columns(12 omega, 12);
	padding: 0;
}

#header-logo {
	@include span-columns(2, 12);
	padding: 5px 0;

	img {
		margin-right: 20px;
	}
}

#header-controls {
	@include span-columns(6, 12);
	@include font-size(12);
	padding-top: 16px;
	span {
		color: lighten($blue, 40);
		display: none;
	}

	#breadcrumb {
		margin: 0;
		padding: 0;
		display: inline-block;
		@include font-size(13);
		li {
			display: inline-block;
			color: lighten($blue, 40);
			em {
				color: lighten($blue, 60);
			}
		}
		li:after {
			content: ' \/ ';
		}
		li:last-child:after {
			content: ' ';
		}
		li:first-child {
			text-transform: uppercase;
		}
	}

}

#button-workspace {
	display: inline-block;
	padding: 6px 12px 8px 12px;
	margin: 0 10px;
	background: #648fb0;
	border-radius: 4px;
	color: $white;
	@include font-size(13);
	font-weight: bold;
	text-shadow: $darkblue 0 1px 1px;
	text-decoration: none;
}

#button-workspace:hover {
	background: darken($blue, 40);
	text-shadow: none 0 0 0;
	color: lighten($blue, 60);
}

#header-admin {
	@include span-columns(4 omega, 12);
	@include font-size(12);
	color: lighten($blue, 40);
	ul {
		padding: 24px 0 5px 0;
		text-align: right;
		font-size: 0; // fixes white space issues in inline-block
		li {
			margin: 0;
			padding: 0 10px;
			display: inline-block;
			border-right: darken($blue, 20) 1px solid;
			border-left: lighten($blue, 10) 1px solid;
			@include font-size(12);
			a {
				color: $white;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		}
		li:first-child {
			border-left: 0px;
		}
		li:last-child {
			border-right: 0px;
		}
	}
}

// Main workspace navigation
#header-workspace-nav {
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
	ul.main-nav {
		@include span-columns(3, 12);
		li {
			@include font-size(10);
			padding: 8px;
			a {
				color: $white;
				text-decoration: none;
				span {
					@include font-size(14);
					padding: 0 5px 0 0;
				}
			}
			a:hover {
				color: lighten($colblue, 30);
			}
			a:hover:after {
				content: " \25B6";
			}
		}
		li.open {
			background: darken($blue, 15);
			width: 133%;
			a {
				font-weight: bold;
			}
			a:after {
				content: " \25B6";
			}
			a:hover {
				color: $white;
			}
		}
	}
}

#workspace-subnav {
	@include span-columns(9 omega, 12);
	background: darken($blue, 15);
	ul.sub_nav_off {
		display: none;
	}
	ul {
		padding: 5px 8px;
		margin: 10px 0 10px 0;
		li {
			font-size: 0;
			display: inline-block;
			vertical-align: top;
			ul {
				min-width: 150px;
				margin: 0;
				li {
					display: block;
					@include font-size(14);
					span {
						margin: 0 0 10px 0;
						padding: 0 0 10px 5px;
						color: desaturate(lighten($blue, 30), 20);
						font-weight: bold;
						display: block;
						border-bottom: desaturate(lighten($blue, 10), 20) 1px solid;
					}
					a {
						text-decoration: none;
						color: $white;
						font-weight: normal;
						padding: 5px 5px;
						margin: 0 0 2px 0;
						display: block;
					}
					a:hover,
					a.on {
						background: desaturate(lighten($blue, 20), 20);
						@include border-radius(4px);
					}
				}

			}
		}
	}
}

.pc-nav {
	display: none;
	margin-bottom: 0;
	background: #fff;

	> .container-fluid {
		padding-left: 1.5%;
		padding-right: 1.5%;
	}

	.navbar-nav .active {
		background: $blue;

		> a {
			color: #fff;

			&:hover {
				background: desaturate(lighten($blue, 20), 20);
			}
		}
	}
}
