legend {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
}

.policy-overview {
  display: none;
}

.panel-title {
  > a {
    display: block;
  }
}

/* up/down arrows to indicate collapsed/collapsible panels */
[data-toggle="collapse"] {
  .glyphicon {
    color: #999;
  }

  &:hover {
    .glyphicon {
      color: inherit;
    }
  }

  .glyphicon-menu-down {
    display: none;
  }

  &.collapsed {
    .glyphicon-menu-up {
      display: none;
    }
    .glyphicon-menu-down {
      display: inline-block;
    }
  }
}

.label-required {
  &:after {
    color: #752E2E;
    content: ' *';
  }
}

.vendor-show {
  display: none;
}

.vendor-hide {
  display: block;
}
