legend {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
}

.panel-title {
  > a {
    display: block;
  }
}

.label-required {
  &:after {
    color: #752E2E;
    content: ' *';
  }
}

.vendor-hide {
  display: none;
}

.vendor-show {
  display: block;
}
