header.module-referrals {
	margin: 0 0 20px 0;
	h1 {
		font-weight: bold;
		color: $darkblue;
		@include font-size(24);
		@include emboss;
		display: inline-block;
		margin: 0 20px 0 0;
	}
	ul {
		display: inline-block;
		position: relative;
		top: -2px;
	}
	li {
		display: inline-block;
		padding: 6px 14px 6px 14px;
		border: $darkgray 1px solid;
		margin: 0;
		@include font-size(14);
		@include background-image(linear-gradient(darken($lightgray, 45), darken($lightgray, 20)));
		box-shadow: 0 1px 1px $white;
		a {
			color: $white;
			text-decoration: none;
			@include emboss($darkblue);
		}
	}
	li:first-child {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		border-right: $darkblue 1px solid;
	}
	li:last-child {
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		border-left: darken($lightgray, 30) 1px solid;
	}
	li.active {
		border-color: $darkblue;
		@include background-image(linear-gradient($colblue, $blue));
		a {
			color: $white;
		}
	}
}

table.module-referrals {
	@extend table.module-search;
}

.module-referrals.pagination {
	@extend .module-search.pagination;
}

.referrals-loader {
	@extend .search-loader;
}