#home {
  .home-container {
    @include clearfix;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1170px;
  }

  h1 {
    margin-top: 0;
    font-weight: bold;
    color: $darkblue;
    @include font-size(24);
    @include emboss;
    line-height: 1.4;
  }

  .carousel {
    margin-bottom: 40px;
  }

  .carousel-indicators {
    bottom: -40px;

    li {
      border: 0;
      background-color: #ddd;

      &.active {
        background-color: #666;
      }
    }
  }

  .carousel-inner {
    border: 1px solid #ddd;

    > .item {
      > img {
        width: 100%;
      }
    }
  }

  .carousel-control {
    width: 5%;
    background: initial;
    text-shadow: initial;
    color: #666;

    &.left { left: -5%; }
    &.right { right: -5%; }
  }

  .panel-body {
    max-height: 500px;
    overflow: auto;

    > ul {
      margin-bottom: 0;
    }
  }

  .panel-working {
    text-align: center;
    color: #666;
  }

  .panel-notice {
    line-height: 110px;
    text-align: center;
    font-size: 40px;
    color: desaturate(lighten($blue, 40), 20);
  }

  .notice-item {
    @include clearfix;

    .notice-item-content {
      overflow: hidden;
    }

    .notice-item-toggle {
      display: none;
      float: right;
      .less { display: none; }
    }

    &.needs-toggle {
      .notice-item-content { max-height: 40px; }
      .notice-item-toggle { display: block; }

      &.open {
        .notice-item-content { max-height: initial; }
        .notice-item-toggle {
          .more { display: none; }
          .less { display: initial; }
        }
      }
    }
  }
}