header.module-referrals {
  padding-bottom: 10px;

  h1 {
    float: left;
    margin: 0 20px 0 0;
    font-weight: bold;
    color: $darkblue;
    @include font-size(24);
    @include emboss;
    line-height: 1.4;
  }

  .checkbox {
    padding: 0 10px;
  }

  .btn-manage-assignees {
    @extend .btn-primary;
  }
}

.module-referrals.pagination {
  @extend .module-search.pagination;
}

.referrals-loader {
  @extend .search-loader;
}

.rq-menus {
  @extend %menu-base;
}

.div-table.module-referrals {
  > .thead > .tr > .th {
    vertical-align: top;
  }
  .tbody {
    > .tr { cursor: pointer; }
  }
  .label-success {
    font-size: inherit;
    font-weight: normal;
  }
  .referrals-sort-link {
    display: block;
    
    > .glyphicon {
      top: 2px;
      width: 14px;
    }
  }
  .assigned-to-underwriting { font-weight: bold; }
  .referral-status { text-transform: capitalize; }
}

#assignee-list-modal {
  .list-group {
    max-height: 300px;
    overflow-y: auto;
  }

  .list-status {
    margin-right: 5px;
    line-height: 30px;

    .list-success { color: $brand-success; }
    .list-loading { color: $brand-info; }
    .list-error   { color: $brand-danger; }
  }
}

.is-cru {
  #assignee-list-modal {
    .modal-dialog {
      width: 700px;
    }
  }
}
