/*
Module: Policy
*/

.policy-nav,
.policy-workspace {
  position: absolute;
  top: 0;
  bottom: 0;
  @include transition(left 500ms);
}

.workspace-canvas {
  &.out {
    .policy-nav {
      left: -125px;
      @include background-image(initial);

      .nav-toggle {
        width: 193px;
        @include transform(translate(-72px, 2px) rotate(-90deg));
        white-space: nowrap;

        .glyphicon-expand {
          @include transform(rotate(90deg));
        }
      }

      > ul {
        display: none;
      }
    }

    .policy-workspace { left: 30px; }
  }
}

.policy-nav {
  left: 0;
  padding-top: 10px;
  width: 155px;
  background-color: $darkblue;
  @include box-shadow(1px 0 1px 0 rgba(0, 0, 0, .35));
  @include background-image(linear-gradient(to right, $darkblue 0%, darken($blue, 5) 100%));

  .nav-toggle {
    position: relative;
    margin: 0 5px;
    padding: 5px 25px 5px 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    @include transform-origin(right top);

    &:hover {
      background-color: rgba(255, 255, 255, 0.10);

      .glyphicon-expand { color: #fff; }
    }

    .glyphicon-expand {
      position: absolute;
      top: 6px;
      right: 5px;
      font-size: 17px;
      color: rgba(255, 255, 255, 0.50);
      @include transform(rotate(180deg));
    }
  }

  > ul {
    margin-top: 10px;
    padding: 10px 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    > li {
      > a {
        display: block;
        padding: 10px 15px 10px 5px;
        @include font-size(12);
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);

        &:hover {
          background: url(../img/icon_arrow_right.png) right 50% no-repeat;
          color: #fff;
        }

        &.select {
          @extend a:hover;
          font-weight: bold;
        }
      }

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.policy-workspace {
  left: 155px;
  right: 0;
}

.policy-workspace-error {
  @include span-columns(12 omega, 12);
  text-align: center;
}

.policy-error {
  width: 50%;
  margin: 40px auto;
  border-radius: 10px;
  background: $red;
  color: $white;
  padding: 40px;
  h1 {
    @include font-size(20);
    font-weight: bold;
    margin: 0 0 40px 0;
  }
  h2 {
    @include font-size(16);
    line-height: 140%;
    font-weight: normal;
    margin: 0 0 20px 0;
  }
  button {
    // @mixin simple-color($red, $red, $red);
    $tmp: darken($red, 10);
    @include simple-color(hue($tmp), saturation($tmp), lightness($tmp));
  }
}

.policy-module {
  @include clearfix();
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 600px;
  background: $modulegray;
  border: #ddd 1px solid;
  overflow: auto;
  z-index: 1;
  &.inactive {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    margin: 0;
    padding: 0;
    height: 0 !important;
    min-height: 0 !important;
    border: 0;
  }
  &.policy-swf {
    border: 0;
    overflow: visible;
  }
}

.policy-header {
  background: $white;
  border: #ddd 1px solid;
  border-bottom: 0px;
  margin: 0;
  table {
    margin: 0;
    width: 100%;
    td {
      padding: 10px;
      border-right: $lightgray 1px solid;
      vertical-align: top;
    }
    td:last-child {
      border-right: 0;
    }
  }
  td > h3 {
    @include font-size(12);
    margin: 0 0 5px 0;
    color: $colblue;
    vertical-align: text-top;
  }
  h2 {
    @include font-size(14);
    font-weight: bold;
    color: $darkblue;
    margin: 0;
    position: relative;
    > span {
      color: $orange;
      &.ipm-header-cancel-status {
        color: $red;
      }
    }
    .icg-icon {
      top: 2px;
      margin-left: 3px;
      font-size: 16px;
    }
    .popover {
      top: 7px;
      min-width: 270px;
    }
    &.has-parent:hover,
    &.has-child:hover,
    &.has-both:hover {
      .popover {
        display: block;
      }
    }
    &.has-child  > .icg-icon:before { content: "\e600" }
    &.has-parent > .icg-icon:before { content: "\e601" }
    &.has-both   > .icg-icon:before { content: "\e602"}
    &.has-none   > .icg-icon:before { content: ""}
  }

  .linked-item { display: none; }
  .popover-content {
    font-weight: normal;

    p {
      &:last-child {
        margin-bottom: 5px;
      }
    }
  }
}