.qv-container {
  background: #fff;
  @include font-size(13);

  h1, h2 {
    font-weight: bold;
  }

  h1 {
    margin: 15px 0 0 0;
    @include font-size(24);
    @include emboss;
    color: $darkblue;
  }

  h2 {
    margin: 20px 0 10px 0;
    @include font-size(18);
    color: $darkgray;
  }

  .nav {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $modulegray;
  }

  .nav-tabs > li {
    > a {
      font-weight: bold;
      color: #787878;
    }

    &.active > a {
      color: #417505;
    }
  }

  .col-left,
  .col-right {
    @include clearfix();
    float: left;
  }

  .col-left {
    width: percentage(8 / 12);
    border-right: 1px solid #ddd;
  }

  .col-right {
    padding: 10px;
    width: percentage(4 / 12);

    .panel-heading {
      padding: 5px;
      strong { line-height: 30px; }
    }
  }

  .tab-content {
    padding: 15px 0;
    background-color: #fff;
  }

  .policy-status {
    @include font-size(18);
    font-weight: bold;
    text-align: center;
  }

  .section-holder,
  .agent-support {
    margin-bottom: 20px;
  }

  section {
    @include clearfix();
    padding-left: 47%;
    padding-right: 3%;
    padding-top: 8px;
    padding-bottom: 8px;

    > label {
      display: block;
      float: left;
      margin-left: -90%;
      padding-top: 1px;
      padding-right: 25px;
      width: 90%;
      text-align: right;
      font-weight: normal;
    }
  }

  .panel-heading {
    em, strong { display: inline-block; }
    .form-control { height: 30px; }
  }

  .agent-support {
    margin-top: 20px;
    text-align: center;
  }

  .activity-wrapper {
    max-height: 350px;
    overflow: auto;
  }

  .activity {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 11px;

    &:last-child { border: 0; }
  }

  .activity-initiator {
    padding-left: 0;
  }

  .activity-date {
    text-align: right;
    padding-right: 0;
  }

  .activity-title,
  .activity-body {
    margin-top: 15px;
  }

  .activity-title {
    text-transform: capitalize;
    font-size: 13px;

    > a {
      display: block;
    }
  }

  .activity-body {
    > p:last-child {
      margin-bottom: 0;
    }
  }
}

// Responsive
@media (min-width: $screen-lg-min) {

}
