/*
Module: Policy
*/
#policy-nav {
	@include span-columns(2, 12);
}

#policy-workspace {
	@include span-columns(10 omega, 12);
	border: #ddd 1px solid;
}

#policy-iframe {
	width: 100%;
	background: $white;
}

#policy-header {
	background: $white;
	margin: 0;
	ul {
		margin: 0;
		width: 100%;
		border-bottom: $lightgray 1px solid;
		li {
			display: inline-block;
			padding: 10px;
			border-right: $lightgray 1px solid;
		}
		li:last-child {
			border-right: 0;
		}
	}
	h3 {
		@include font-size(12);
		margin: 0 0 5px 0;
		color: $colblue;
	}
	h2 {
		@include font-size(14);
		font-weight: bold;
		color: $darkblue;
		display: inline-block;
		span {
			color: $orange;
		}
	}
}