.zd-container {
  @extend .ru-container;
}

.zd-loss-history-container {
  @include span-columns(12 omega, 12);
}

.zd-loss-history {
  margin: 20px 0;
}

.zd-shim {
  min-height: 50%;
}

.zd-loader {
  text-align: center;
  padding: 20px;
}