/*
Module: Search
*/
#search-form.form-inline {
  .checkbox {
    margin-left: 7px;
  }
}

header.module-search {
  margin: 0 0 20px 0;
  h1 {
    float: left;
    margin: 0 20px 0 0;
    font-weight: bold;
    color: $darkblue;
    @include font-size(24);
    @include emboss;
    line-height: 1.4;
  }
  ul {
    float: left;
    margin-bottom: 0;
    line-height: 24px;

    li.search-controls {
      float: left;
      border-right: darken($lightgray, 20) 1px solid;
      border-left: $white 1px solid;
      padding: 0 2px;
      background: none;
      @include font-size(14);
    }
    li.search-controls > a {
      text-decoration: none;
      color: $blue;
      display: inline-block;
      padding: 4px 6px;
      border-radius: 4px;
      strong {
        font-weight: bold;
      }
    }
    li.search-controls > a:hover {
      background-color: $blue;
      color: $white;
      i {
        color: $white;
      }
    }
    li.search-controls.active > a {
      background-color: $blue;
      color: $white;
      i {
        color: $white;
      }
    }
    li.search-controls:first-child {
      border-left: 0px;
    }
    li.search-controls:last-child {
      border-right: 0px;
    }
  }
  i.icon-caret-down {
    color: $darkgray;
  }
}

.module-search.filters {
  margin: 0 0 20px 0;

  form { display: block; }

  .control-label {
    padding-top: 0;
    @include emboss;
    @include font-size(18);
    color: $darkblue;
    line-height: 1.7;
  }
  a {
    @include font-size(14);
    color: $darkgray;
    text-decoration: none;
    line-height: 2.1;
    padding: 0 10px;

    &:hover { color: $blue; }
  }
}

table.module-search {
  > thead > tr > th {
    vertical-align: top;
  }

  th { > a, > span    { display: block; } }
  tr { cursor: pointer; }
  
  .quote-number       { min-width: 125px; }
  .policy-number      { min-width: 90px; }
  .effective-date     { min-width: 75px; }
  td.activepolicy     { color: $darkblue; }
  td.activequote      { color: darken($orange, 5); }
  td.cancelledpolicy,
  td.nonrenewedpolicy { color: lighten($red, 10); }
}

.module-search.pagination {
  @include span-columns(12 omega, 12);
  @include font-size(14);
  @include background-image(linear-gradient(#b4b4b4, #8f8f8f));
  border: darken(#8f8f8f, 10) 1px solid;
  padding: 6px 0;
  @include border-radius(6px);

  span {
    position: relative;
    top: 6px;
  }
  span,
  label {
    color: darken($darkgray, 20);
    font-weight: bold;
    @include emboss(darken($lightgray, 10));
  }
  .form-group {
    margin-bottom: 0;
  }
}

.search-menus {
  @extend %menu-base;
  margin: 5px 0 0 0;
}

// Saved Search menu
td.search-views-row > a {
  padding: 0;
  border-radius: 0;
  background: none;
  color: $colblue;
  text-decoration: none;
}

td.search-views-admin {
  text-align: right;
}

td.search-views-admin > a {
  padding: 0 5px;
  color: $blue;
  text-decoration: none;
}

.search-loader {
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;

  h2 {
    display: inline-block;
    margin: 10px auto;
    padding: 50px;
    border-radius: 14px;
    background: #333333;
    background: rgba(0, 0, 0, 0.5);
    color: darken($white, 10);
    @include sans;
    @include font-size(24);
    
    > span {
      display: block;
      margin: 0 0 20px 0;
    }

    .abort {
      margin-bottom: 20px;
    }
  }
}