/* Page */

html {
  background: $lightgray;
}

body {
  text-rendering: optimizeLegibility;
}

#page {
  @include background-image(linear-gradient(top, $blue, darken($blue, 10)));
}

a {
  &:hover,
  &:focus {
    text-decoration: inherit;
  }
}

ul {
  @include clearfix();
  @extend .list-unstyled;
}

.scroll-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 15px 15px 40px;
}

.width-wrapper {
  min-width: 960px;
}
