/* Page */

html {
  background: $lightgray;
}

body {
  text-rendering: optimizeLegibility;
}

#page {
  @include background-image(linear-gradient(top, $blue, darken($blue, 10)));
}

a {
  &:hover,
  &:focus {
    text-decoration: inherit;
  }
}

ul {
  @include clearfix();
  @extend .list-unstyled;
}
