.table-controls {
  .td {
    display: flex;

    label {
      margin-right: 10px;
      line-height: 34px;
      white-space: nowrap;
    }

    > .form-control,
    > div {
      flex: 1;
    }
  }
}

.clearable {
  .close {
    position: absolute;
    right: 18px;
    top: 13px;
  }
}
