#workspace {
  position: relative;
  @include clearfix;

  &.in {
    > nav {
      left: 0;
      > ul { display: block; }

      .nav-toggle {
        @include transform(initial);

        .glyphicon-expand {
          @include transform(rotate(180deg));
        }
      }
    }
    article { left: 175px; }
  }

  nav,
  article {
    height: inherit;
    @include transition(left 500ms);
  }

  > nav {
    display: none;
    position: absolute;
    overflow-y: auto;
    top: 0;
    left: -145px;
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    @include box-shadow(inset -1px 0 1px 0 rgba(0, 0, 0, .35));

    .nav-toggle {
      position: relative;
      margin-right: 5px;
      padding: 5px 25px 5px 5px;
      color: $darkblue;
      font-weight: bold;
      cursor: pointer;
      @include transform-origin(right top);
      @include transform(translate(-25px, 2px) rotate(-90deg));

      &:hover {
        background-color: rgba(0, 0, 0, 0.10);

        .glyphicon-expand { color: $darkblue; }
      }

      .glyphicon-expand {
        position: absolute;
        top: 6px;
        right: 5px;
        font-size: 17px;
        color: rgba(0, 0, 0, 0.50);
        @include transform(rotate(90deg));
      }
    }

    > ul {
      margin: 0;
      display: none;

      > li {
        margin: 5px 0;
        padding-left: 24px;
        padding-right: 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        &:hover {
          background: rgba(0, 0, 0, .10);

          .glyphicon {
            display: inline-block;
          }

          > a {
            color: darken($darkgray, 40);
          }
        }

        .glyphicon {
          display: none;
          float: left;
          margin-left: -24px;
          padding: 5px;
          cursor: pointer;
          color: rgba(0, 0, 0, 0.50);

          &:hover {
            color: rgba(255, 0, 0, 0.75);
          }
        }

        > a {
          display: block;
          padding: 5px 0;
          @include font-size(12);
          text-decoration: none;
          color: $darkgray;
        }

        &.selected {
          background: $darkblue;
          @include box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.35));

          &:hover {
            @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.25));

            > a {
              color: #fff;
              text-shadow: 0 2px 0 #000;
            }
          }

          .glyphicon {
            display: inline-block;
            color: rgba(255, 255, 255, 0.50);

            &:hover {
              color: rgba(255, 0, 0, 0.75);
            }
          }

          > a {
            color: #fff;
          }
        }
      }

      .no-policies {
        margin-right: 10px;
        padding: initial;
        border-radius: initial;
        text-align: center;
        font-family: serif;
        color: #999;

        &:hover {
          background: initial;
        }
      }
    }
  }

  article {
    position: absolute;
    top: 0;
    right: 0;
    left: 30px;
    overflow: hidden;
  }

  #canvas {
    @include clearfix;
    min-width: 1170px;
  }

  .workspace-canvas {
    @include clearfix;

    &.inactive {
      visibility: hidden;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }
}

#footer-main {
  border-top: #ccc 1px solid;
  text-align: center;
  ul {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: #fff 1px solid;
    color: $darkgray;
    @include font-size(11);
    li {
      display: inline-block;
      padding: 0 8px 0 6px;
      margin: 0;
      border-right: darken($lightgray, 20) 1px solid;
      a {
        color: $blue;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    li:first-child {
      padding: 0 8px 0 0;
    }
    li:last-child {
      border: 0px;
    }
  }
}

.flash-message-container,
#flash-message-controller {
  width: 100%;
  position: absolute;
  z-index: 5234;
  top: -100px;
  left: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  display: none;
  opacity: 0;
  cursor: pointer;
}

.flash-message {
  @include font-size(18);
  @include border-radius(6px);
  position: absolute;
  box-shadow: 0 0 10px #333;
  font-weight: bold;
  width: 98%;
  text-align: left;
  margin: 0 10px;
  cursor: pointer;
  span {
    display: block;
    padding: 20px;
  }
  i {
    float: right;
    cursor: pointer;
    @include font-size(20);
    position: relative;
  }
  h3 {
    margin: 0;
  }
  p {
    @include font-size(14);
    font-weight: normal;
    margin: 0 0 5px 0;
  }
  ul, ol {
    @include font-size(14);
    font-weight: normal;
    margin: 10px 0;
  }
  li {
    list-style-type: circle;
    margin: 4px 0 4px 15px;
    padding: 0;
  }
}

.success {
  background-color: $success-base;
  color: $success-text;
  @include background-image(linear-gradient($success-base, $success-bottom));
  border: $success-bottom 1px solid;
}

.notice {
  background-color: $notice-base;
  color: $notice-text;
  @include background-image(linear-gradient($notice-base, $notice-bottom));
  border: $notice-bottom 1px solid;
}

.warning {
  background-color: $warning-base;
  color: $warning-text;
  @include background-image(linear-gradient($warning-base, $warning-bottom));
  border: $warning-bottom 1px solid;
}

// Loader image
.module-loader {
  text-align: center;
  h1 {
    @include font-size(18);
    color: darken($lightgray, 40);
    margin: 20px 0;
  }
}

#form-login {
  width: 100%;
  text-align: center;
  form {
    margin: 50px auto;
    text-align: left;
    display: block;
    width: 450px;
    border: darken($lightgray, 20) 1px solid;
    border-radius: 8px;
    padding: 30px 40px;
    box-shadow: $white 0 1px 0;
    @include background-image(linear-gradient(top, $lightgray, darken($lightgray, 15)));
  }
  h1 {
    @include font-size(28);
    @include emboss;
    color: $blue;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: darken($lightgray, 20) 1px solid;
    box-shadow: $white 0 1px 0;
  }
  div {
    margin: 0 0 20px 0;
  }
  label {
    @include font-size(16);
    color: $blue;
    display: inline-block;
    width: 90px;
  }
  input[type=text],
  input[type=password] {
    width: 240px;
    @include font-size(16);
    @include sans;
    padding: 6px;
  }
  input[type=submit] {
    @include font-size(18);
  }
}

#login-button {
  @include simple-color(hue(#2b90d2), saturation(#2b90d2), lightness(#2b90d2));
  width: 170px;
}

#form-login-button {
  margin-bottom: 0px !important;
  a {
    @include font-size(14);
    color: $blue;
    text-decoration: none;
    margin: 0 5px 0 0;
    padding: 6px 10px;
    background: transparent;
    border-radius: 6px;
    position: relative;
    left: -10px;
    &:hover {
      color: $white;
      background: darken($lightgray, 30);
      box-shadow: 0 1px 3px 1px darken($lightgray, 50) inset;
      text-shadow: 0 1px 1px #000;
    }
  }
}

.logo-background {
  background: url("/img/logo_bg.png") top right no-repeat;
  background-position: 140% 65%;
  background-size: 60%;
}

#test_module {
  h2 {
    @include font-size(24);
    color: $blue;
    margin: 0 0 20px 0;
  }
  p {
    @include font-size(14);
  }
}