#workspace {
	position: relative;
	margin-top: -10px;
	z-index: 100;
	nav {
		@include container;
		background: transparent;
		ul {
			li {
				display: inline-block;
				a {
					padding: 20px;
					background: $lightgray;
				}
			}
		}
	}
	article {
		background: $lightgray;
		@include container;
		padding: 20px 0;
	}
}

#workspace {
	footer {
		margin: 20px 0;
		padding: 20px 0;
		@include divider;
	}
}