// ICG base styles & mixins
@import "base";
@import "bootstrap";

html {
  background: $lightgray;
}

body {
  min-width: 1000px;
  text-rendering: optimizeLegibility;
}

// Now begin importing our partials
@import "page";
@import "modal";
@import "header";
@import "workspace";
@import "module_search";
@import "module_policy";
@import "module_quickview";
@import "module_renewalunderwriting";
@import "module_losshistory";
@import "module_ipm";
@import "module_zendesk";
@import "module_referralqueue";
@import "module_policyrep";
@import "herald";
