<h1>Policy Representations</h1>
<h2>Policy representations are XML files and will open in a new window. Additional authentication may be required.</h2>
<ul class="policyrep-list">
	<li>
		<a href="{{link_pxserver}}" target="_blank">pxServer API <i class="icon-external-link"></i></a>
		<p>XML Representation of a quote or policy (in the form of an Insurance Policy) from Insight's Quoting &amp; Binding Platform.</p>
	</li>
	<li>
		<h3>pxCentral API</h3>
		<ul>
			<li>
				<a href="{{link_pxcentral}}" target="_blank">Default <i class="icon-external-link"></i></a>
			</li>
			<li>
				<a href="{{link_pxcentral}}?media=insurancepolicy.2.8" target="_blank">v2.8 <i class="icon-external-link"></i></a>
			</li>
			<li>
				<a href="{{link_pxcentral}}?media=insurancepolicy.2.4" target="_blank">v2.4 <i class="icon-external-link"></i></a>
			</li>
			<li>
				<a href="{{link_pxcentral}}?version=bound" target="_blank">First bound version <i class="icon-external-link"></i></a>
			</li>
			<li>
				<a href="{{link_pxcentral}}?raw" target="_blank">Raw <i class="icon-external-link"></i></a>
			</li>
		</ul>
	</li>
	<li>
		<a href="{{link_mxserver}}" target="_blank">mxServer API <i class="icon-external-link"></i></a>
		<p>XML Representation of a policy (in the form of an Insurance Policy) from the Insight's Policy Management Platfom</p>
	</li>
	<li>
		<a href="{{link_ixdirectory}}" target="_blank">Agencies API <i class="icon-external-link"></i></a>
		<p>XML representation of the sub-agency associated with this quote/policy.</p>
	</li>
</ul>