<h1>Policy representations</h1>
<h2>Policies representations are raw XML files and will open in a new window. Additional authentication may be required.</h2>
<ul class="policyrep-list">
	<li>
		<a href="{{link_pxcentral}}" target="_blank">pxCentral <i class="icon-external-link"></i></a>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
	</li>
	<li>
		<a href="{{link_ixdirecory}}" target="_blank">ixDirectory ALC Data <i class="icon-external-link"></i></a>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
	</li>
	<li>
		<a href="{{link_mxserver}}" target="_blank">mxServer <i class="icon-external-link"></i></a>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>		
	</li>
</ul>