<h1>Policy representations</h1>
<h2>Policies representations are raw XML files and will open in a new window. Additional authentication may be required.</h2>
<ul class="policyrep-list">
	<li>
		<a href="{{link_pxserver}}" target="_blank">pxServer Policy XML <i class="icon-external-link"></i></a>
		<p>XML Representation of an Insurance Policy from the Insight Policy Management system</p>
	</li>
	<li>
		<h3>pxCentral Policy Representations</h3>
		<ul>
			<li>
				<a href="{{link_pxcentral}}" target="_blank">Default <i class="icon-external-link"></i></a>
			</li>
			<li>
				<a href="{{link_pxcentral}}?media=insurancepolicy.2.8" target="_blank">v2.8 <i class="icon-external-link"></i></a>
			</li>
			<li>
				<a href="{{link_pxcentral}}?media=insurancepolicy.2.4" target="_blank">v2.4 <i class="icon-external-link"></i></a>
			</li>
			<li>
				<a href="{{link_pxcentral}}?version=bound" target="_blank">First bound version <i class="icon-external-link"></i></a>
			</li>
			<li>
				<a href="{{link_pxcentral}}?raw" target="_blank">Raw <i class="icon-external-link"></i></a>
			</li>
		</ul>
	</li>
	<li>
		<a href="{{link_mxserver}}" target="_blank">mxServer <i class="icon-external-link"></i></a>
		<p>XML Representation of an Insurance Policy from the Insight Policy Management system</p>
	</li>
	<li>
		<a href="{{link_ixdirectory}}" target="_blank">ixDirectory ALC Data <i class="icon-external-link"></i></a>
		<p>Expanded view of an Agency Location XML Data</p>
	</li>
</ul>