<!-- Nav tabs -->
<ul id="qv-tabs-{{cid}}" class="nav nav-tabs">
  <li class="active"><a href="#servicing-{{cid}}" data-toggle="tab">Servicing</a></li>
  <li><a href="#underwriting-{{cid}}" data-toggle="tab">Underwriting</a></li>
  <li><a href="#claims-{{cid}}" data-toggle="tab">Claims</a></li>
</ul>

<!-- Tab panes -->
<div id="qv-tab-content-{{cid}}" class="tab-content">
  <div class="tab-pane active" id="servicing-{{cid}}">SERVICING</div>
  <div class="tab-pane" id="underwriting-{{cid}}">UNDERWRITING</div>
  <div class="tab-pane" id="claims-{{cid}}">CLAIMS</div>
</div>
