<div class="col-xs-12">
  <div class="alert alert-info pc-alert policy-status">Property &amp; Coverage</div>
  
  <div class="section-holder">
    <section>
      <ul>
        <li>
          <label>Dwelling Coverage</label>
          <div>${{CoverageA}}&nbsp;</div>
        </li>
        <li>
          <label>Replacement Cost Estimate - Dwelling</label>
          <div>${{ReplacementCostBuilding}}&nbsp;</div>
        </li>
        <li>
          <label>Hurricane Deductible</label>
          <div>{{HurricaneDeductible}}&nbsp;</div>
        </li>
        <li>
          <label>Wind/Hail Deductible</label>
          <div>{{WindHailDeductible}}&nbsp;</div>
        </li>
        <li>
          <label>All Other Perils Deductible</label>
          <div>{{AllOtherPerilsDeductible}}&nbsp;</div>
        </li>
      </ul>
    </section>

    <section>
      <ul>
        <li>
          <label>Hazard Location</label>
          <div>{{PropertyHazardLocation}}&nbsp;</div>
        </li>
        <li>
          <label>Total Living Area</label>
          <div>{{FloorArea}} sf&nbsp;</div>
        </li>
        <li>
          <label>Year of Construction</label>
          <div>{{ConstructionYear}}&nbsp;</div>
        </li>
        <li>
          <label>Age of Roof</label>
          <div>{{RoofAge}}&nbsp;</div>
        </li>
        <li>
          <label>Roof Covering</label>
          <div>{{RoofCoveringType}}&nbsp;</div>
        </li>
        <li>
          <label>Roof Geometry</label>
          <div>{{RoofGeometryType}}&nbsp;</div>
        </li>
      </ul>
    </section>

    <section>
      <ul>
        <li>
          <label>Usage</label>
          <div>{{PropertyUsage}}&nbsp;</div>
        </li>
        <li>
          <label>Structure Type</label>
          <div>{{StructureType}}&nbsp;</div>
        </li>
        <li>
          <label>Protection Class</label>
          <div>{{ProtectionClass}}&nbsp;</div>
        </li>
      </ul>
    </section>

    <section>
      <label>Insurance Score Range&nbsp;</label>
      <div>{{InsuranceScoreRange}}&nbsp;</div>
    </section>
    
  </div>
</div>


