<div {{#IsQuote}}class="col-xs-12"{{/IsQuote}}{{#IsNotQuote}}class="col-xs-6"{{/IsNotQuote}}>
  <div class="alert alert-{{PolicyStateLabelClass}} policy-status">{{PolicyState}}</div>
  
  <div class="section-holder">
    {{#OriginatingSystem}}
    <section>
      <label>Originating System</label>
      <div><strong>{{OriginatingSystem}}</strong></div>
    </section>
    {{/OriginatingSystem}}

    {{#QuoteNumber}}
    <section>
      <label>Quote #</label>
      <div><strong>{{QuoteNumber}}</strong></div>
    </section>
    {{/QuoteNumber}}

    {{#PropertyAddress}}
    <section>
      <label>Property Address</label>
      <a class="address-link" href="#" target="_blank">
        <div>{{PropertyStreetNumber}} {{PropertyStreetName}}</div>
        <div>{{PropertyCity}}, {{PropertyState}} {{PropertyZipCode}}</div>
      </a>
    </section>
    {{/PropertyAddress}}

    {{#MailingAddress}}
    <section>
      <label>Mailing Address</label>
      <div>{{InsuredMailingAddressLine1}}</div>
      {{#InsuredMailingAddressLine2}}
      <div>{{InsuredMailingAddressLine2}}</div>
      {{/InsuredMailingAddressLine2}}
      <div>{{InsuredMailingAddressCity}}, {{InsuredMailingAddressState}} {{InsuredMailingAddressZip}}</div>
    </section>
    {{/MailingAddress}}

    {{#PrimaryMortgagee}}
    <section>
      <label>Primary Mortgagee</label>
      <div><strong>{{MortgageeNumber1}}</strong></div>
      {{#Mortgagee1AddressLine1}}
      <div><small>{{Mortgagee1AddressLine1}}</small></div>
      {{/Mortgagee1AddressLine1}}
      {{#Mortgagee1AddressLine2}}
      <div><small>{{Mortgagee1AddressLine2}}</small></div>
      {{/Mortgagee1AddressLine2}}
      <div><small>{{Mortgagee1AddressCity}}, {{Mortgagee1AddressState}} {{Mortgagee1AddressZip}}</small></div>
      {{#LoanNumber1}}
      <div><strong>{{LoanNumber1}}</strong></div>
      {{/LoanNumber1}}
    </section>
    {{/PrimaryMortgagee}}

    {{#Agency}}
    <section>
      <label>Agency</label>
      <div><strong>{{Name}}</strong></div>
      {{#MailingAddress}}
      {{#Street1}}
      <div><small>{{Street1}}</small></div>
      {{/Street1}}
      {{#Street2}}
      <div><small>{{Street2}}</small></div>
      {{/Street2}}
      {{#Street3}}
      <div><small>{{Street3}}</small></div>
      {{/Street3}}
      <div><small>{{City}}, {{Province}} {{PostalCode}}</small></div>
      {{/MailingAddress}}
      {{#PhoneNumber}}
      <div><strong>{{PhoneNumber}}</strong></div>
      {{/PhoneNumber}}
      {{#EmailAddress}}
      <div class="no-transform">
        <a href="mailto:{{EmailAddress}}?subject={{PolicyId}}">{{EmailAddress}}</a>
      </div>
      {{/EmailAddress}}
    </section>
    {{/Agency}}

    {{#AgencyLocationCode}}
    <section>
      <label>ALC#</label>
      <div><strong>{{AgencyLocationCode}}</strong></div>
    </section>
    {{/AgencyLocationCode}}
  </div>

  <div class="agent-support">
    <a href="#" class="btn btn-dark btn-lg">Open Agent Support View</a>
  </div>
</div>

{{#IsNotQuote}}
<div class="col-xs-6">
  {{#BillingIsCurrent}}
  <div class="alert alert-success policy-status">Billing: Current</div>
  {{/BillingIsCurrent}}
  {{#BillingIsPastDue}}
  <div class="alert alert-danger policy-status">Billing: Past Due</div>
  {{/BillingIsPastDue}}

  <div class="section-holder">
    
    {{#TotalPremium}}
    <section>
      <label>Total Premium</label>
      <div><strong>${{TotalPremium}}</strong></div>
    </section>
    {{/TotalPremium}}

    {{#OutstandingBalance}}
    <section>
      <label>Outstanding Balance</label>
      <div><strong>${{OutstandingBalance}}</strong></div>
    </section>
    {{/OutstandingBalance}}

    {{#PastDueBalance}}
    <section>
      <label>Past Due Balance</label>
      <div><strong>${{PastDueBalance}}</strong></div>
    </section>
    {{/PastDueBalance}}

    {{#MinimumPayment}}
    <section>
      <label>Minimum Payment</label>
      <div><strong>${{MinimumPayment}}</strong></div>
    </section>
    {{/MinimumPayment}}

    {{#InvoiceDueDate}}
    <section>
      <label>Invoice Due Date</label>
      <div><strong>{{InvoiceDueDate}}</strong></div>
    </section>
    {{/InvoiceDueDate}}

    {{#EquityDate}}
    <section>
      <label>Equity Date</label>
      <div><strong>{{EquityDate}}</strong></div>
    </section>
    {{/EquityDate}}

    {{#LastPaymentReceived}}
    <section>
      <label>Last Payment Received</label>
      <div><strong>${{LastPaymentReceived}}</strong></div>
    </section>
    {{/LastPaymentReceived}}

    {{#PaymentPlanType}}
    <section>
      <label>Payment Plan</label>
      <div><strong>{{PaymentPlanType}}</strong></div>
    </section>
    {{/PaymentPlanType}}
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Installment Schedule</strong>
      <em>(Payments shown include all installment fees)</em>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Invoice Date</th>
          <th>Due Date</th>
          <th>Amount</th>
        </tr>
      </thead>

      <tbody>

        {{#Installments}}
        {{#number}}
        <tr>
          <td>{{invoiceDate}}</td>
          <td>{{dueDate}}</td>
          <td>${{amount}}</td>
        </tr>
        {{/number}}
        {{/Installments}}

      </tbody>
    </table>
  </div>

</div>
{{/IsNotQuote}}

