<div class="col-xs-6">
  <div class="alert alert-success policy-status">Active Policy</div>
  <table class="table">
    <tbody>
      <tr>
        <td class="label">Originating System</td>
        <td><strong>Agent Portal</strong></td>
      </tr>
      <tr>
        <td class="label">Quote #</td>
        <td><strong>CRU4Q-87019</strong></td>
      </tr>
      <tr>
        <td class="label">Policy Period</td>
        <td><strong>Mar 26, 2014 - Mar 26, 2014</strong></td>
      </tr>
      <tr>
        <td class="label">Property Address</td>
        <td>
          <a class="address-link" href="#">
            <div>11524 13th St</div>
            <div>Ozone Park, NY 11420</div>
          </a>
        </td>
      </tr>
      <tr>
        <td class="label">Mailing Address</td>
        <td>
          <div>11524 13th St</div>
          <div>Ozone Park, NY 11420</div>
        </td>
      </tr>
      <tr>
        <td class="label">Primary Mortgagee</td>
        <td>
          <div><strong>Movement Mortage</strong></div>
          <div>LLC ISA OA/Atima</div>
          <div>PO Box 5942</div>
          <div>Troy, MI 48007</div>
          <div>712255489653</div>
        </td>
      </tr>
      <tr>
        <td class="label">Agency</td>
        <td>
          <div><strong>GEICO Insurance Agency, Inc.</strong></div>
          <div>One Geico Blvd</div>
          <div>Fredricksburg, VA 43102</div>
          <div>888-395-1200</div>
          <div><a href="mailto:specialgeicoemail@geico.com">specialgeicoemail@geico.com</a></div>
        </td>
      </tr>
      <tr>
        <td class="label">ALC#</td>
        <td><strong>P712255</strong></td>
      </tr>
    </tbody>
  </table>

  <div class="agent-support">
    <a href="#" class="btn btn-primary btn-lg btn-block">Open Agent Support View</a>
  </div>
</div>

<div class="col-xs-6">
  <div class="alert alert-success policy-status">Billing: Current</div>
  <table class="table">
    <tbody>
      <tr>
        <td class="label">Total Premium</td>
        <td><strong>$1380.00</strong></td>
      </tr>
      <tr>
        <td class="label">Outstanding Balance</td>
        <td><strong>$1242.00</strong></td>
      </tr>
      <tr>
        <td class="label">Past Due Balance</td>
        <td><strong>$0.00</strong></td>
      </tr>
      <tr>
        <td class="label">Minimum Payment</td>
        <td><strong>$138.00</strong></td>
      </tr>
      <tr>
        <td class="label">Payment Due Date</td>
        <td><strong>Jun 08, 2014</strong></td>
      </tr>
      <tr>
        <td class="label">Equity Date</td>
        <td><strong>Jun 28, 2014</strong></td>
      </tr>
      <tr>
        <td class="label">Last Payment Received</td>
        <td><strong>$138.00 - May 04, 2014</strong></td>
      </tr>
      <tr>
        <td class="label">Payment Plan</td>
        <td><strong>Ten Pay</strong></td>
      </tr>
    </tbody>
  </table>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Installment Schedule</strong>
      <em>(Payments shown include all installment fees)</em>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Invoice Date</th>
          <th>Due Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>May 01, 2014</td>
          <td>May 08, 2014</td>
          <td>$138.00</td>
        </tr>
        <tr>
          <td>Jun 01, 2014</td>
          <td>Jun 08, 2014</td>
          <td>$138.00</td>
        </tr>
        <tr>
          <td>Jul 01, 2014</td>
          <td>Jul 08, 2014</td>
          <td>$138.00</td>
        </tr>
        <tr>
          <td>Aug 01, 2014</td>
          <td>Aug 08, 2014</td>
          <td>$138.00</td>
        </tr>
        <tr>
          <td>Sep 01, 2014</td>
          <td>Sep 08, 2014</td>
          <td>$138.00</td>
        </tr>
        <tr>
          <td>Oct 01, 2014</td>
          <td>Oct 08, 2014</td>
          <td>$138.00</td>
        </tr>
        <tr>
          <td>Nov 01, 2014</td>
          <td>Nov 08, 2014</td>
          <td>$138.00</td>
        </tr>
        <tr>
          <td>Dec 01, 2014</td>
          <td>Dec 08, 2014</td>
          <td>$138.00</td>
        </tr>
        <tr>
          <td>Jan 01, 2014</td>
          <td>Jan 08, 2014</td>
          <td>$138.00</td>
        </tr>
        <tr>
          <td>Feb 01, 2014</td>
          <td>Feb 08, 2014</td>
          <td>$138.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

