<!-- Nav tabs panel -->
<div id="qv-tabs-{{cid}}" class="col-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab-servicing-{{cid}}" data-toggle="tab">Servicing</a></li>
    <li><a href="#tab-underwriting-{{cid}}" data-toggle="tab">Underwriting</a></li>
    <li><a href="#tab-claims-{{cid}}" data-toggle="tab">Claims</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane clearfix active" id="tab-servicing-{{cid}}">
      <div id="lh-loader-{{cid}}" class="lh-loader">
        <h2 id="lh-spinner-{{cid}}"><span>Loading Servicing&hellip;</span></h2>
      </div>
    </div>
    <div class="tab-pane clearfix" id="tab-underwriting-{{cid}}">
      <div class="col-xs-12">
        <div class="alert alert-info"><strong>COMING SOON:</strong> Underwriting</div>
      </div>
    </div>
    <div class="tab-pane clearfix" id="tab-claims-{{cid}}">
      <div class="col-xs-12">
        <div class="alert alert-info"><strong>COMING SOON:</strong> Claims</div>
      </div>
    </div>
  </div>
</div>

<!-- Activities & Documents -->
<div id="qv-aside-{{cid}}" class="col-right">
  <div id="activity-{{cid}}">
    <div class="panel panel-default note-panel">
      <div class="panel-heading clearfix">
        <strong>Notes</strong>
        <div class="activity-search pull-right">
          <input class="form-control" type="search" placeholder="Search...">
        </div>
      </div>
      <div class="activity-wrapper"></div>
    </div>
  </div>
</div>
