{{#documents}}

{{#general.length}}
<li id="gen-group-{{cid}}">
  <a data-toggle="collapse" data-parent="#gen-group-{{cid}}" class="group-toggle collapsed" href="#gen-docs-{{cid}}">
    <span class="glyphicon"></span>
    General ({{general.length}})
  </a>
  <ul id="gen-docs-{{cid}}" class="collapse">
    {{#general}}
    <li class="document" id="doc-{{cid}}">
      <a href="{{docUrl}}" target="_blank" class="clearfix">
        <div class="col-xs-6 document-label">
          <span class="glyphicon glyphicon-file"></span>
          {{label}}
        </div>
        {{#docUpdated}}
        <div class="col-xs-6 document-updated">{{date}} at {{time}} EST</div>
        {{/docUpdated}}
      </a>
    </li>
    {{/general}}
  </ul>
</li>
{{/general.length}}

{{#default.length}}
<li id="def-group-{{cid}}">
  <a data-toggle="collapse" data-parent="#def-group-{{cid}}" class="group-toggle collapsed" href="#def-docs-{{cid}}">
    <span class="glyphicon"></span>
    Default ({{default.length}})
  </a>
  <ul id="def-docs-{{cid}}" class="collapse">
    {{#default}}
    <li class="document" id="doc-{{cid}}">
      <a href="{{docUrl}}" target="_blank" class="clearfix">
        <div class="col-xs-6 document-label">
          <span class="glyphicon glyphicon-file"></span>
          {{label}}
        </div>
        {{#docUpdated}}
        <div class="col-xs-6 document-updated">{{date}} at {{time}} EST</div>
        {{/docUpdated}}
      </a>
    </li>
    {{/default}}
  </ul>
</li>
{{/default.length}}

{{/documents}}