<div id="policy-nav-{{cid}}" class="policy-nav">
	<ul>
		<li><a href="overview" class="select">Overview</a></li>
		<li><a href="ipmchanges">IPM Changes</a></li>
		<li><a href="renewalunderwriting">Renewal underwriting</a></li>
 		<li><a href="servicerequests">Service requests</a></li>
 		<li><a href="policyrepresentations">Policy representations</a></li>
 		<li><a href="quoting">Quoting</a></li>
<!--	<li><a href="datatransmission">Data transmission jobs</a></li>
		<li><a href="policytransactions">Policy transaction history</a></li> -->
	</ul>
</div>
<div class="policy-workspace" id="policy-workspace-{{cid}}">
	<div id="policy-header-{{cid}}" class="policy-header"></div>
	<div id="policy-ipm-{{cid}}" class="policy-module"></div>
	<div id="policy-quoting-{{cid}}" class="policy-module"></div>
	<div id="policy-summary-{{cid}}" class="policy-module policy-swf"></div>
</div>