#cancellation {
  .content_body  {
      padding-top: 10px;

    fieldset li {
      padding: 4px 0;
    }
  }

  input[type="submit"]:not(.button) {
	@extend .actionButtons;
	font-size: 0.938em;

	&[disabled]
	{
	  color: #ccc;
	  cursor: default;

	  &:hover
	  {
		background-color: transparent;
	  }
	}
  }

  .table_wrapping + .table_wrapping
  {
    margin-top: 1em;
  }

  .data_table
  {
    caption
    {
      padding: 6px;
      text-align: left;
    }

    tbody
    {
      th
      {
        padding-top: 1em;
        text-align: left;
      }
    }
  }
}
