#contents
{
	background-color: #f4f4f4;
	// border: 1px solid #d0d0d0;
	// @include border-radius(7px);
	margin: 0 auto;
	max-width: 1280px;
	overflow: hidden;
}

#content_header 
{
	h2 
	{
		background-color: none;
		border-bottom: 0px;
		// @include border-top-radius(7px);
		color: #002857;
	    font-size: 1.125em;
	    font-weight: bold;
		padding: 10px;
	}
	
	form 
	{
	    position: absolute;
		right: 0;
	    top: 0;
	
		input 
		{
		    position: absolute;
			right: 16px;
		    top: 10px;
		    width: 160px;
		}
	}
	
	&.error 
	{	
		h2 
		{
		    color: #900;
		    font-weight: bold;
		}
	}
}

.content_body 
{
    padding: 14px 16px 10px 16px;

	&.preview
	{
	    padding: 0 0 10px 0;
	}

	&.preview .form_actions
	{
		border-top: none;
		clear: both;
		margin-top: 8px;
		padding: 0 16px;
	}
}