input[type="text"],
input[type="number"], 
input[type="password"] 
{
	border: 1px solid #999;
	border-top: 1px solid #737373;
	color: #333;
    font-size: 0.875em;
	max-width: 370px;
	min-width: 180px;
	padding: 3px;
    width: 30%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input.datepicker[type="text"] 
{
	background: #fff url(images/calendar_icon.png) right 50% no-repeat;
    font-size: 0.75em;
	max-width: 370px;
    width: 30%;
}

input[type="text"].moneyInput 
{
    width: 80px;
}

input[disabled="disabled"], 
input[disabled="1"], 
input[disabled="true"],
input.datepicker[disabled],
input[readonly]
{
    opacity: .5;
}

input[size]
{
	width: 15%;
}

select
{
	min-width: 188px;
	max-width: 378px;
    width: 31%;
}

textarea
{
	border: 1px solid #999;
	border-top: 1px solid #737373;
	color: #333;
	font-family: helvetica, arial, sans-serif;
    font-size: 0.875em;
	max-width: 450px;
	min-width: 280px;
	padding: 4px;
	width: 30%;
}

::-webkit-input-placeholder 
{
   color: #aaa !important;
   font-style: italic;
}

:-moz-placeholder 
{
   color: #aaa !important;
   font-style: italic;
}

// Inputs that have a dollar amount have a span before them that
// contain a "$"
.moneyLabel 
{
    color: #666;
}

// Everything with the "row" class is a little odd, should probably be
// renamed?
.row input[type="text"], 
.row span 
{
    display: inline-block;
    width: 26%;
}

.row input[size] 
{
    width: auto;
}

input.validation_error, textarea.validation_error, 
{
    box-shadow: 0 0 5px rgba(160, 0, 0, 1);
    -webkit-box-shadow: 0 0 5px rgba(160, 0, 0, 1); 
    -moz-box-shadow: 0 0 5px rgba(160, 0, 0, 1); 
}

select.validation_error
{
	background: #fcc;
}
