.formButton
{
	$bgColor: #2f79b2;
	background-color: #2f79b2;
	@include background-image(linear-gradient(darken($bgColor, 3%), lighten($bgColor, 5%)));
	border: #1a649d solid 1px;
	border-bottom-color: darken($bgColor, 12%);
	@include border-radius(5px);
	color: #f1f1f1;
	cursor: pointer;
    display: inline-block;
	font-size: 0.75em;
	font-weight: bold;
    padding: 5px 7px 6px 7px;
	text-shadow: darken($bgColor, 20%) 0 -1px 1px;
	
	&:hover
	{
		@include background-image(linear-gradient(darken($bgColor, 6%), lighten($bgColor, 4%)));
	}
}

.form_actions 
{
	border-top: 1px solid #ccc;
    margin-top: 15px;
	overflow: hidden;
	padding-top: 10px;
	
	input[type="submit"], 
	#updatePreview
	{
		@extend .formButton;
	}
	
	#updatePreview
	{
		float: right;
	}
	
	#updatePreview[disabled]
	{
		cursor: default;
		background-color: #a7a7a7;
		background-image: none;
		border-color: #9d9d9d;
		text-shadow: darken(#a7a7a7, 20%) 0 -1px 1px;
	}
	
	a 
	{
		color: #2f79b2;
		font-size: 0.75em;
	    line-height: 37px;
	    text-decoration: none;
	
		&:hover 
		{
		    text-decoration: underline;
		}
	}
	
	&.loadingOn
	{
		input[type="submit"],
		a
		{
			display: none;
		}
	}
}