#policy_num_input {	
	background-color: #f4f4f4;
	// border-bottom: 1px solid #E6E6E6;
	// @include border-top-radius(5px);
	// padding: 10px;
	position: relative;
	vertical-align: middle;
	
	label {
		display: inline-block;
		font-size: 1.125em;
		font-weight: bold;
		margin-bottom: 0px;
		padding-right: 10px;
	}
	
	span {
		background: transparent url(images/ajax-loader.gif) no-repeat center center;
		display: inline-block;
		height: 22px;
		position: relative;
		top: 4px;
		width: 22px;
	}
}