body#login 
{
    background-color: #2e4b6b;

	#content
	{
		background-color: #fff;
		@include border-radius(7px);
	    float: none;
		margin: 0 auto;
		max-width: 26%;
		min-width: 250px;
		width: 90%;
	}
	
	#contents
	{
		background-color: transparent;
		border: none;
		margin: 0 auto;
		padding-top: 5%;
	}
	
	input[type="text"],
	input[type="password"]
	{
		width: 90%;
	}
	
	header[role='banner']
	{
	    display: none;
	}
	
	.form_actions 
	{
		border-top: none;
	    margin-top: 0;
		padding-top: 0;
	}
}



