.policyOverview {
	display: none;
	background-color: #f7f7f7;
	border-bottom: 1px solid darken(#f7f7f7, 4.5%);
	font-size: 0.8em;
	margin-bottom: 0.8em;
	padding: 8px 10px;
	
	h1 {
		font-size: 0.9em;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	
	ul {
		line-height: 1.2em;
	}
	
	li {
		margin-bottom: 0.2em;
	}
}