.table_wrapping
{
  display: block;
  overflow: auto;
  width: 100%;

  table
  {
    border-bottom: 1px solid #B8B8B8;
    border-collapse: collapse;
    font-size: 0.88em;
    table-layout: fixed;
    width: 100%;
  }

  thead
  {
    background-color: #f3f3f3;
    border-bottom: 1px solid #d0d0d0;
    color: #353535;
    font-size: 0.95em;
  }

  th
  {
    font-weight: bold;
    padding: 6px;
    position: relative;
    text-align: center;
    vertical-align: middle;

    &.contains_var
    {
      cursor: help;
    }

    &.col_group_heading
    {
      background-color: fade-out(#353535, 0.95);
      border-left: 1px solid #B8B8B8;
      border-right: 1px solid #B8B8B8;
      padding-top: 4px;
      font-size: 1em;
      vertical-align: bottom;
    }

    i
    {
      background-color: #F3E893;
      @include border-radius(4px);
      color: #1f1f1f;
      display: block;
      font-size: 0.85em;
      font-weight: normal;
      opacity: 0;
      padding: 2px 4px;
      position: absolute;
      right: 0;
      @include transition-delay(0.3s);
      @include transition-property(opacity);
      @include transition-duration(0.2s);
    }

    &:hover i
    {
      opacity: 1;
    }
  }

  .col_group_cap_open
  {
    border-left: 1px solid #B8B8B8;
  }

  .col_group_cap_close
  {
    border-right: 1px solid #B8B8B8;
  }

  .col_non_hurricane
  {
    background-color: #f8f8f8;
    border-left: 1px solid #B8B8B8;
    border-right: 1px solid #B8B8B8;    
  }

  .col_hurricane
  {
    background-color: #f8f8f8;
    border-right: 1px solid #B8B8B8;
  }

  .dividing_row
  {
    border-top: 1px solid #B8B8B8;
  }

  td
  {
    color: #575757;
    padding: 6px;
    text-align: right;
    vertical-align: middle;

    input
    {
      font-size: 0.9em;
      text-align: right;
      min-width: 60px;
      padding: 2px;
      width: 60px;
    }

    &.calculated_value,
    &.subtotal,
    &.total
    {
      color: #000;
      font-weight: bold;
    }

    &:first-child
    {
      color: #747474;
      text-align: left;
      padding-right: 0;
    }
  }

  h4
  {
    color: #353535;
    padding-top: 4px;
    font-size: 1.1em;
    font-weight: bold;
  }

  .summary_table
  {
    caption, th, td
    {
      text-align: left;
    }

    th
    {
      background: #f3f3f3;
      width: 275px;
      border: 1px solid #ffffff;
    }
    
    td
    {
	  border: 1px solid #f3f3f3;    
    }

    caption
    {
      padding: 6px;
    }
  }
}

.premium_override .override_sensitive 
{
  background-color: #feffd7;
}
