<div class="flash-message-container">
  <div id="flash-message-<%= cid %>" class="flash-message"></div>
</div>
<div class="scroll-wrapper">
  <div class="width-wrapper">
    <header class="module-search clearfix" id="module-search-<%= cid %>">
      <% if (isRenewalUnderwriting) { %>
      <h1>Renewal Underwriting</h1>
      <div id="search-filters-{{cid}}" class="module-search filters pull-right">
        <form id="renewal-review-form" action="search_submit" method="get" accept-charset="utf-8" class="form-inline">
          <button type="submit" class="btn btn-primary">Load Policies</button>
        </form>
      </div>
      <% } else { %>
      <h1>Quote &amp; Policy Search</h1>
      <% } %>
    </header>

    <% if (!isRenewalUnderwriting) { %>
    <div id="search-filters-<%= cid %>" class="module-search filters">
      <form id="search-form" action="search_submit" method="get" accept-charset="utf-8" class="form-inline">
        <div class="form-group form-group-sm">
          <select name="searchby" class="search-by form-control"<% if (!shouldShowEnhancedSearch) { %> disabled<% } %>>
            <% if (shouldShowEnhancedSearch) { %>
            <option value="quote-policy-number">Quote/Policy number</option>
            <option value="property-address">Property street address</option>
            <% } %>>
            <option value="default">Search all fields</option>
          </select>
        </div>
        <div class="form-group form-group-sm">
          <div class="input-group">
            <input type="search" name="search-query" value="" placeholder="<% if (shouldShowEnhancedSearch) { %>Enter Quote or Policy number<% } else { %>Enter search terms<% } %>" class="form-control">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Search</button>
            </span>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input name="policy" type="checkbox" class="policy-state-input" checked> Policies
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input name="quote" type="checkbox" class="policy-state-input" checked> Quotes
          </label>
        </div>
      </form>
    </div>
    <% } %>

    <div id="search-loader-<%= cid %>" class="search-loader">
      <h2 id="search-spinner-<%= cid %>">
        <span>Searching Policies&hellip;</span>
        <button class="abort btn btn-sm btn-dark">Cancel Request <span class="glyphicon glyphicon-remove-circle"></span></button>
      </h2>
    </div>

    <div class="panel panel-default">
      <div class="div-table table-striped table-hover table-condensed table-scrollable table-9-columns module-search">
        <div class="thead">
          <div class="tr">
            <div class="th"><a class="quote-number search-sort-link" href="quote-number">Quote # <span class="glyphicon"></span></a></div>
            <div class="th"><a class="policy-number search-sort-link" href="policy-number">Policy # <span class="glyphicon"></span></a></div>
            <div class="th"><a class="carrier-id search-sort-link" href="carrier-id">Carrier ID <span class="glyphicon"></span></a></div>
            <div class="th"><span class="product-label">Product</span></div>
            <div class="th"><a class="last-name search-sort-link" href="last-name">Name <span class="glyphicon"></span></a></div>
            <div class="th"><span class="address">Address</span></div>
            <div class="th"><a class="policy-state search-sort-link" href="policy-state">Status <span class="glyphicon"></span></a></div>
            <div class="th"><a class="effective-date search-sort-link" href="effective-date">Effective <span class="glyphicon"></span></a></div>
            <div class="th"><span class="renewal-uw-status">Renewal UW Status</span></div>
          </div>
        </div>
        <div class="tbody"></div>
      </div>
      <div class="panel-footer pagination clearfix"><%= pagination %></div>
    </div>
  </div>
</div>
