a {
  outline: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
  background: #ededed;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 1000px;
  text-rendering: optimizeLegibility;
}

/* Page */
#page {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2NTc4OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmM2I1YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #165788), color-stop(100%, #0f3b5c));
  background-image: -webkit-linear-gradient(top, #165788, #0f3b5c);
  background-image: -moz-linear-gradient(top, #165788, #0f3b5c);
  background-image: -o-linear-gradient(top, #165788, #0f3b5c);
  background-image: linear-gradient(top, #165788, #0f3b5c);
}

.button-green {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwYTMwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ5NmIwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70a300), color-stop(100%, #496b00));
  background-image: -webkit-linear-gradient(#70a300, #496b00);
  background-image: -moz-linear-gradient(#70a300, #496b00);
  background-image: -o-linear-gradient(#70a300, #496b00);
  background-image: linear-gradient(#70a300, #496b00);
  border: 1px solid #3f5c00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #9de109;
  -moz-box-shadow: inset 0 1px 0 0 #9de109;
  box-shadow: inset 0 1px 0 0 #9de109;
  color: white;
  font-weight: bold;
  padding: 8px 12px !important;
  text-shadow: 0 1px 0 #314700;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
.button-green:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkODcwMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNmNWMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d8703), color-stop(100%, #3f5c00));
  background-image: -webkit-linear-gradient(#5d8703, #3f5c00);
  background-image: -moz-linear-gradient(#5d8703, #3f5c00);
  background-image: -o-linear-gradient(#5d8703, #3f5c00);
  background-image: linear-gradient(#5d8703, #3f5c00);
  -webkit-box-shadow: inset 0 1px 0 0 #7fb607;
  -moz-box-shadow: inset 0 1px 0 0 #7fb607;
  box-shadow: inset 0 1px 0 0 #7fb607;
  cursor: pointer;
}
.button-green:active {
  -webkit-box-shadow: inset 0 0 8px 4px #344d00, inset 0 0 8px 4px #344d00, 0 1px 1px 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #344d00, inset 0 0 8px 4px #344d00, 0 1px 1px 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #344d00, inset 0 0 8px 4px #344d00, 0 1px 1px 0 #eeeeee;
  border: 1px solid #3f5c00;
}

.button-disabled {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q1Y2RjZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #d5cdcd));
  background-image: -webkit-linear-gradient(#ededed, #d5cdcd);
  background-image: -moz-linear-gradient(#ededed, #d5cdcd);
  background-image: -o-linear-gradient(#ededed, #d5cdcd);
  background-image: linear-gradient(#ededed, #d5cdcd);
  border: 1px solid #cec5c5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -moz-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  font-weight: bold;
  padding: 8px 12px !important;
  text-shadow: 0 1px 0 #f8f7f7;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
.button-disabled:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlYzVjNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, #cec5c5));
  background-image: -webkit-linear-gradient(#e0e0e0, #cec5c5);
  background-image: -moz-linear-gradient(#e0e0e0, #cec5c5);
  background-image: -o-linear-gradient(#e0e0e0, #cec5c5);
  background-image: linear-gradient(#e0e0e0, #cec5c5);
  -webkit-box-shadow: inset 0 1px 0 0 #fafafa;
  -moz-box-shadow: inset 0 1px 0 0 #fafafa;
  box-shadow: inset 0 1px 0 0 #fafafa;
  cursor: pointer;
}
.button-disabled:active {
  -webkit-box-shadow: inset 0 0 8px 4px #c6bebe, inset 0 0 8px 4px #c6bebe, 0 1px 1px 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #c6bebe, inset 0 0 8px 4px #c6bebe, 0 1px 1px 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #c6bebe, inset 0 0 8px 4px #c6bebe, 0 1px 1px 0 #eeeeee;
  border: 1px solid #cec5c5;
}

#header {
  color: white;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2NTc4OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmM2I1YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #165788), color-stop(100%, #0f3b5c));
  background-image: -webkit-linear-gradient(top, #165788, #0f3b5c);
  background-image: -moz-linear-gradient(top, #165788, #0f3b5c);
  background-image: -o-linear-gradient(top, #165788, #0f3b5c);
  background-image: linear-gradient(top, #165788, #0f3b5c);
  overflow: hidden;
  height: 65px;
}

#header-container {
  *zoom: 1;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding: 0;
}
#header-container:after {
  content: "";
  display: table;
  clear: both;
}

.header-group {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  padding: 0;
}

#header-logo {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding: 5px 0;
}
#header-logo img {
  margin-right: 20px;
}

#header-controls {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  font-size: 12px;
  font-size: 1.2rem;
  padding-top: 16px;
}
#header-controls span {
  color: #80bcea;
  display: none;
}
#header-controls #breadcrumb {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
}
#header-controls #breadcrumb li {
  display: inline-block;
  color: #80bcea;
}
#header-controls #breadcrumb li em {
  color: #d7eaf9;
}
#header-controls #breadcrumb li:after {
  content: ' \/ ';
}
#header-controls #breadcrumb li:last-child:after {
  content: ' ';
}
#header-controls #breadcrumb li:first-child {
  text-transform: uppercase;
}

#button-workspace {
  display: inline-block;
  padding: 6px 12px 8px 12px;
  margin: 0 10px;
  background: #648fb0;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: #002857 0 1px 1px;
  text-decoration: none;
}

#button-workspace:hover {
  background: black;
  text-shadow: none 0 0 0;
  color: #d7eaf9;
}

#header-admin {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  font-size: 12px;
  font-size: 1.2rem;
  color: #80bcea;
}
#header-admin ul {
  padding: 24px 0 5px 0;
  text-align: right;
  font-size: 0;
}
#header-admin ul li {
  margin: 0;
  padding: 0 10px;
  display: inline-block;
  border-right: #081f30 1px solid;
  border-left: #1d73b4 1px solid;
  font-size: 12px;
  font-size: 1.2rem;
}
#header-admin ul li a {
  color: white;
  text-decoration: none;
}
#header-admin ul li a:hover, #header-admin ul .policy-nav li a.select, .policy-nav #header-admin ul li a.select {
  text-decoration: underline;
}
#header-admin ul li:first-child {
  border-left: 0px;
}
#header-admin ul li:last-child {
  border-right: 0px;
}

#header-workspace-nav {
  margin-top: 50px;
}
#header-workspace-nav ul.main-nav {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
#header-workspace-nav ul.main-nav li {
  font-size: 10px;
  font-size: 1rem;
  padding: 8px;
}
#header-workspace-nav ul.main-nav li a {
  color: white;
  text-decoration: none;
}
#header-workspace-nav ul.main-nav li a span {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 0 5px 0 0;
}
#header-workspace-nav ul.main-nav li a:hover, #header-workspace-nav ul.main-nav .policy-nav li a.select, .policy-nav #header-workspace-nav ul.main-nav li a.select {
  color: #63c2ff;
}
#header-workspace-nav ul.main-nav li a:hover:after, #header-workspace-nav ul.main-nav .policy-nav li a.select:after, .policy-nav #header-workspace-nav ul.main-nav li a.select:after {
  content: " \25B6";
}
#header-workspace-nav ul.main-nav li.open {
  background: #0b2d46;
  width: 133%;
}
#header-workspace-nav ul.main-nav li.open a {
  font-weight: bold;
}
#header-workspace-nav ul.main-nav li.open a:after {
  content: " \25B6";
}
#header-workspace-nav ul.main-nav li.open a:hover, #header-workspace-nav ul.main-nav .policy-nav li.open a.select, .policy-nav #header-workspace-nav ul.main-nav li.open a.select {
  color: white;
}

#workspace-subnav {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  background: #0b2d46;
}
#workspace-subnav ul.sub_nav_off {
  display: none;
}
#workspace-subnav ul {
  padding: 5px 8px;
  margin: 10px 0 10px 0;
}
#workspace-subnav ul li {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}
#workspace-subnav ul li ul {
  min-width: 150px;
  margin: 0;
}
#workspace-subnav ul li ul li {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
}
#workspace-subnav ul li ul li span {
  margin: 0 0 10px 0;
  padding: 0 0 10px 5px;
  color: #68a3cf;
  font-weight: bold;
  display: block;
  border-bottom: #32709f 1px solid;
}
#workspace-subnav ul li ul li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  padding: 5px 5px;
  margin: 0 0 2px 0;
  display: block;
}
#workspace-subnav ul li ul li a:hover, #workspace-subnav ul .policy-nav li ul li a.select, .policy-nav #workspace-subnav ul li ul li a.select,
#workspace-subnav ul li ul li a.on {
  background: #418bc3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

#workspace nav {
  *zoom: 1;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background: transparent;
  position: relative;
  top: -32px;
}
#workspace nav:after {
  content: "";
  display: table;
  clear: both;
}
#workspace nav ul {
  margin: 0;
  padding: 0 4px;
  line-height: 26px;
  height: 32px;
  overflow: hidden;
  position: relative;
}
#workspace nav ul li {
  display: inline-block;
  margin: 0 -2px;
  padding: 0 12px;
  border: 1px solid #bababa;
  background: #c7c7c7;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMWExYTEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #d3d3d3), color-stop(100%, #a1a1a1));
  background-image: -webkit-linear-gradient(top, #d3d3d3 50%, #a1a1a1);
  background-image: -moz-linear-gradient(top, #d3d3d3 50%, #a1a1a1);
  background-image: -o-linear-gradient(top, #d3d3d3 50%, #a1a1a1);
  background-image: linear-gradient(top, #d3d3d3 50%, #a1a1a1);
  position: relative;
  z-index: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #ededed;
}
#workspace nav ul li a {
  display: inline-block;
  padding: 2px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #4f4f4f;
  text-shadow: 0 1px #FFF;
}
#workspace nav ul li a:hover, #workspace nav ul .policy-nav li a.select, .policy-nav #workspace nav ul li a.select {
  color: #030303;
}
#workspace nav ul li i {
  padding: 0;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: normal;
  color: #838383;
  text-shadow: 0 1px #FFF;
  position: relative;
  top: 2px;
  left: 5px;
  display: inline-block;
  cursor: pointer;
}
#workspace nav ul li i:hover {
  color: #363636;
}
#workspace nav ul li#tab-search {
  padding: 0 6px;
}
#workspace nav ul li#tab-search a i {
  top: 1px;
  left: 0;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 22px;
  color: #4f4f4f;
}
#workspace nav ul li#tab-search a:hover i, #workspace nav ul .policy-nav li#tab-search a.select i, .policy-nav #workspace nav ul li#tab-search a.select i {
  color: #1c1c1c;
}
#workspace nav ul li.selected {
  background: #ededed;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #ffffff 10%, #ededed);
  background-image: -moz-linear-gradient(top, #ffffff 10%, #ededed);
  background-image: -o-linear-gradient(top, #ffffff 10%, #ededed);
  background-image: linear-gradient(top, #ffffff 10%, #ededed);
  z-index: 3;
  border-bottom: 1px solid #ededed;
  box-shadow: #3a3a3a 0 0 6px 1px;
}
#workspace nav ul li.selected a {
  color: #165788;
}
#workspace nav ul li.selected a:hover, #workspace nav ul .policy-nav li.selected a.select, .policy-nav #workspace nav ul li.selected a.select {
  color: #010304;
}
#workspace nav ul li.selected i {
  color: #68a3cf;
}
#workspace nav ul li.selected i:hover {
  color: #165788;
}
#workspace nav ul li.selected:before {
  box-shadow: 2px 2px 0 #ededed;
  border-color: lightgrey;
}
#workspace nav ul li.selected:after {
  box-shadow: -2px 2px 0 #ededed;
  border-color: lightgrey;
}
#workspace nav ul li:before,
#workspace nav ul li:after {
  position: absolute;
  bottom: -1px;
  width: 4px;
  height: 4px;
  content: " ";
  border: 1px solid #bababa;
}
#workspace nav ul li:before {
  left: -4px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #adadad;
}
#workspace nav ul li:after {
  right: -4px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #adadad;
}
#workspace nav ul:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ededed, 20;
  z-index: 1;
}
#workspace nav ul:before {
  z-index: 1;
}
#workspace article {
  *zoom: 1;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding: 20px 0;
  margin-top: -32px;
}
#workspace article:after {
  content: "";
  display: table;
  clear: both;
}
#workspace #canvas {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

#workspace footer {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  margin: 20px 0;
  padding: 20px 0;
  border-top: white 1px solid;
  box-shadow: #bababa 0 -1px 0;
}
#workspace footer ul {
  margin: 0;
  padding: 0;
  color: dimgrey;
  font-size: 11px;
  font-size: 1.1rem;
}
#workspace footer ul li {
  display: inline-block;
  padding: 0 8px 0 6px;
  margin: 0;
  border-right: #bababa 1px solid;
}
#workspace footer ul li a {
  color: #165788;
  text-decoration: none;
}
#workspace footer ul li a:hover, #workspace footer ul .policy-nav li a.select, .policy-nav #workspace footer ul li a.select {
  text-decoration: underline;
}
#workspace footer ul li:first-child {
  padding: 0 8px 0 0;
}
#workspace footer ul li:last-child {
  border: 0px;
}

.flash-message {
  margin: 0 0 20px 0;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 10px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: none;
}
.flash-message i {
  top: -3px;
  float: right;
  cursor: pointer;
  font-size: 20px;
  font-size: 2rem;
  position: relative;
}

.success {
  background-color: #d5ebd6;
  color: #407241;
  font-weight: bold;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZWJkNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwY2E5MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d5ebd6), color-stop(100%, #90ca93));
  background-image: -webkit-linear-gradient(#d5ebd6, #90ca93);
  background-image: -moz-linear-gradient(#d5ebd6, #90ca93);
  background-image: -o-linear-gradient(#d5ebd6, #90ca93);
  background-image: linear-gradient(#d5ebd6, #90ca93);
  border: #6dba71 1px solid;
}

.notice {
  background-color: #eeec8b;
  color: #934a00;
  font-weight: bold;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWM4YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QzYzM1NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeec8b), color-stop(100%, #d3c354));
  background-image: -webkit-linear-gradient(#eeec8b, #d3c354);
  background-image: -moz-linear-gradient(#eeec8b, #d3c354);
  background-image: -o-linear-gradient(#eeec8b, #d3c354);
  background-image: linear-gradient(#eeec8b, #d3c354);
  border: #d3c354 1px solid;
}

.warning {
  background-color: #ba6976;
  color: white;
  font-weight: bold;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhNjk3NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcyMTAxYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ba6976), color-stop(100%, #72101b));
  background-image: -webkit-linear-gradient(#ba6976, #72101b);
  background-image: -moz-linear-gradient(#ba6976, #72101b);
  background-image: -o-linear-gradient(#ba6976, #72101b);
  background-image: linear-gradient(#ba6976, #72101b);
  border: #72101b 1px solid;
}

.module-loader {
  text-align: center;
}
.module-loader h1 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #878787;
  margin: 20px 0;
}

#form-login {
  width: 100%;
  text-align: center;
}
#form-login form {
  margin: 50px auto;
  text-align: left;
  display: block;
  width: 400px;
  border: #bababa 1px solid;
  border-radius: 8px;
  padding: 30px 40px;
  box-shadow: white 0 1px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M3YzdjNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #c7c7c7));
  background-image: -webkit-linear-gradient(top, #ededed, #c7c7c7);
  background-image: -moz-linear-gradient(top, #ededed, #c7c7c7);
  background-image: -o-linear-gradient(top, #ededed, #c7c7c7);
  background-image: linear-gradient(top, #ededed, #c7c7c7);
}
#form-login h1 {
  font-size: 28px;
  font-size: 2.8rem;
  text-shadow: 0 1px white;
  color: #165788;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: #bababa 1px solid;
  box-shadow: white 0 1px 0;
}
#form-login div {
  margin: 0 0 20px 0;
}
#form-login label {
  font-size: 16px;
  font-size: 1.6rem;
  color: #165788;
  display: inline-block;
  width: 90px;
}
#form-login input[type=text],
#form-login input[type=password] {
  width: 240px;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 6px;
}
#form-login input[type=submit] {
  font-size: 18px;
  font-size: 1.8rem;
}

#login-button {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiOTBkMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5NzJhYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b90d2), color-stop(100%, #1972ac));
  background-image: -webkit-linear-gradient(#2b90d2, #1972ac);
  background-image: -moz-linear-gradient(#2b90d2, #1972ac);
  background-image: -o-linear-gradient(#2b90d2, #1972ac);
  background-image: linear-gradient(#2b90d2, #1972ac);
  border: 1px solid #17699f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #6cadd8;
  -moz-box-shadow: inset 0 1px 0 0 #6cadd8;
  box-shadow: inset 0 1px 0 0 #6cadd8;
  color: white;
  font-weight: bold;
  padding: 8px 12px !important;
  text-shadow: 0 1px 0 #0f5e92;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
#login-button:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiODFiOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE4Njk5ZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b81b8), color-stop(100%, #18699e));
  background-image: -webkit-linear-gradient(#2b81b8, #18699e);
  background-image: -moz-linear-gradient(#2b81b8, #18699e);
  background-image: -o-linear-gradient(#2b81b8, #18699e);
  background-image: linear-gradient(#2b81b8, #18699e);
  -webkit-box-shadow: inset 0 1px 0 0 #479ad0;
  -moz-box-shadow: inset 0 1px 0 0 #479ad0;
  box-shadow: inset 0 1px 0 0 #479ad0;
  cursor: pointer;
}
#login-button:active {
  -webkit-box-shadow: inset 0 0 8px 4px #166090, inset 0 0 8px 4px #166090, 0 1px 1px 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #166090, inset 0 0 8px 4px #166090, 0 1px 1px 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #166090, inset 0 0 8px 4px #166090, 0 1px 1px 0 #eeeeee;
  border: 1px solid #17699f;
}

#form-login-button a {
  font-size: 14px;
  font-size: 1.4rem;
  color: #165788;
  text-decoration: none;
  margin: 0 5px 0 0;
  padding: 6px 10px;
  background: transparent;
  border-radius: 6px;
  position: relative;
  left: -10px;
}
#form-login-button a:hover, #form-login-button .policy-nav li a.select, .policy-nav li #form-login-button a.select {
  color: white;
  background: #a1a1a1;
  box-shadow: 0 1px 3px 1px #6e6e6e inset;
  text-shadow: 0 1px 1px #000;
}

.logo-background {
  background: url("/img/logo_bg.png") top right no-repeat;
  background-position: 140% 65%;
  background-size: 60%;
}

#test_module h2 {
  font-size: 24px;
  font-size: 2.4rem;
  color: #165788;
  margin: 0 0 20px 0;
}
#test_module p {
  font-size: 14px;
  font-size: 1.4rem;
}

/*
Module: Search
*/
header.module-search {
  margin: 0 0 20px 0;
}
header.module-search h1 {
  font-weight: bold;
  color: #002857;
  font-size: 24px;
  font-size: 2.4rem;
  text-shadow: 0 1px white;
  display: inline-block;
  margin: 0 20px 0 0;
}
header.module-search ul {
  display: inline-block;
  font-size: 0;
}
header.module-search ul li.search-controls {
  display: inline-block;
  border-right: #bababa 1px solid;
  border-left: white 1px solid;
  padding: 0 2px;
  background: none;
  font-size: 14px;
  font-size: 1.4rem;
}
header.module-search ul li.search-controls > a {
  text-decoration: none;
  color: #165788;
  display: inline-block;
  padding: 4px 6px;
  border-radius: 4px;
}
header.module-search ul li.search-controls > a strong {
  font-weight: bold;
}
header.module-search ul li.search-controls > a:hover, header.module-search ul .policy-nav li.search-controls > a.select, .policy-nav header.module-search ul li.search-controls > a.select {
  background-color: #165788;
  color: white;
}
header.module-search ul li.search-controls > a:hover i, header.module-search ul .policy-nav li.search-controls > a.select i, .policy-nav header.module-search ul li.search-controls > a.select i {
  color: white;
}
header.module-search ul li.search-controls.active > a {
  background-color: #165788;
  color: white;
}
header.module-search ul li.search-controls.active > a i {
  color: white;
}
header.module-search ul li.search-controls:first-child {
  border-left: 0px;
}
header.module-search ul li.search-controls:last-child {
  border-right: 0px;
}
header.module-search i.icon-caret-down {
  color: dimgrey;
}

.module-search.filters {
  margin: 0 0 20px 0;
  form-display: block;
}
.module-search.filters label {
  font-weight: bold;
  color: #002857;
  font-size: 18px;
  font-size: 1.8rem;
  text-shadow: 0 1px white;
  display: inline-block;
  position: relative;
  top: 1px;
}
.module-search.filters input[type=search] {
  width: 250px;
}
.module-search.filters a {
  font-size: 14px;
  font-size: 1.4rem;
  color: dimgrey;
  text-decoration: none;
  padding: 0 10px;
}
.module-search.filters a:hover, .module-search.filters .policy-nav li a.select, .policy-nav li .module-search.filters a.select {
  color: #165788;
}

table.module-search, .ru-loss-history, .zd-loss-history {
  margin: 0 0 20px 0;
  width: 100%;
  color: #4f4f4f;
  font-size: 13px;
  font-size: 1.3rem;
  border-top: white 1px solid;
  box-shadow: #bababa 0 -1px 0;
}
table.module-search td, .ru-loss-history td, .zd-loss-history td,
table.module-search th,
.ru-loss-history th,
.zd-loss-history th {
  padding: 9px 5px;
}
table.module-search th, .ru-loss-history th, .zd-loss-history th {
  font-weight: bold;
}
table.module-search th a, .ru-loss-history th a, .zd-loss-history th a {
  color: #007ac9;
  text-decoration: none;
}
table.module-search th a:hover, .ru-loss-history th a:hover, .zd-loss-history th a:hover, table.module-search th .policy-nav li a.select, .policy-nav li table.module-search th a.select, .ru-loss-history th .policy-nav li a.select, .policy-nav li .ru-loss-history th a.select, .zd-loss-history th .policy-nav li a.select, .policy-nav li .zd-loss-history th a.select {
  color: #165788;
}
table.module-search thead tr th, .ru-loss-history thead tr th, .zd-loss-history thead tr th {
  border-bottom: lightgrey 1px solid;
}
table.module-search tbody tr, .ru-loss-history tbody tr, .zd-loss-history tbody tr {
  background: none;
  border: 1px solid transparent;
}
table.module-search tbody tr:nth-child(odd), .ru-loss-history tbody tr:nth-child(odd), .zd-loss-history tbody tr:nth-child(odd) {
  background-color: white;
}
table.module-search tbody tr:last-child td, .ru-loss-history tbody tr:last-child td, .zd-loss-history tbody tr:last-child td {
  border-bottom: lightgrey 1px solid;
}
table.module-search tbody tr:hover td, .ru-loss-history tbody tr:hover td, .zd-loss-history tbody tr:hover td {
  background-color: #ffccff;
  border-top: #ff99ff 1px solid;
  border-bottom: #ff99ff 1px solid;
  color: #660066;
  cursor: pointer;
}
table.module-search tbody tr:hover td a, .ru-loss-history tbody tr:hover td a, .zd-loss-history tbody tr:hover td a {
  color: #660066;
}
table.module-search tbody td a, .ru-loss-history tbody td a, .zd-loss-history tbody td a {
  color: #4f4f4f;
  text-decoration: none;
  text-transform: uppercase;
}
table.module-search tbody td a:hover, .ru-loss-history tbody td a:hover, .zd-loss-history tbody td a:hover, table.module-search tbody td .policy-nav li a.select, .policy-nav li table.module-search tbody td a.select, .ru-loss-history tbody td .policy-nav li a.select, .policy-nav li .ru-loss-history tbody td a.select, .zd-loss-history tbody td .policy-nav li a.select, .policy-nav li .zd-loss-history tbody td a.select {
  text-decoration: underline;
}

.module-search.pagination {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  font-size: 14px;
  font-size: 1.4rem;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0YjRiNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhmOGY4ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b4b4b4), color-stop(100%, #8f8f8f));
  background-image: -webkit-linear-gradient(#b4b4b4, #8f8f8f);
  background-image: -moz-linear-gradient(#b4b4b4, #8f8f8f);
  background-image: -o-linear-gradient(#b4b4b4, #8f8f8f);
  background-image: linear-gradient(#b4b4b4, #8f8f8f);
  border: #767676 1px solid;
  padding: 6px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.module-search.pagination form {
  padding: 0 10px;
}
.module-search.pagination span {
  position: relative;
  top: 3px;
}
.module-search.pagination span,
.module-search.pagination label {
  color: #363636;
  font-weight: bold;
  text-shadow: 0 1px lightgrey;
}
.module-search.pagination .pagination-a,
.module-search.pagination .pagination-b,
.module-search.pagination .pagination-c {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
.module-search.pagination .pagination-b {
  text-align: center;
}
.module-search.pagination .pagination-c {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  text-align: right;
}

.search-menus, .ru-menus {
  display: block;
  position: absolute;
  z-index: 650;
  border-radius: 6px;
  border: #165788 1px solid;
  background: white;
  min-width: 250px;
  margin: 5px 0 0 0;
  display: none;
  box-shadow: #a1a1a1 0 0 4px 1px;
}
.search-menus table, .ru-menus table {
  width: 100%;
}
.search-menus table tr td, .ru-menus table tr td {
  padding: 10px;
}
.search-menus thead tr, .ru-menus thead tr {
  background-color: #165788;
}
.search-menus thead tr th, .ru-menus thead tr th {
  color: white;
  padding: 10px;
}
.search-menus h2, .ru-menus h2 {
  font-weight: bold;
}
.search-menus h3, .ru-menus h3 {
  margin: 4px 0;
  color: dimgrey;
}
.search-menus form, .ru-menus form {
  margin: 10px 0 0 0;
}
.search-menus label, .ru-menus label {
  display: block;
  margin: 6px 0;
}
.search-menus input[type=text], .ru-menus input[type=text] {
  display: block;
  min-width: 220px;
  padding: 3px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
.search-menus .search_form_submit, .ru-menus .search_form_submit {
  text-align: right;
  margin: 5px 0;
}

.menu-close {
  text-align: right;
}
.menu-close i {
  cursor: pointer;
}

td.search-views-row > a {
  padding: 0;
  border-radius: 0;
  background: none;
  color: #007ac9;
  text-decoration: none;
}

td.search-views-admin {
  text-align: right;
}

td.search-views-admin > a {
  padding: 0 5px;
  color: #165788;
  text-decoration: none;
}

.search-loader {
  display: none;
  position: absolute;
  z-index: 1400;
  width: 100%;
  text-align: center;
  margin: 50px 0 0 0;
}
.search-loader h2 {
  display: inline-block;
  margin: 10px auto;
  padding: 50px;
  border-radius: 14px;
  background: #333333;
  background: rgba(0, 0, 0, 0.5);
  color: #e6e6e6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
}
.search-loader h2 span {
  display: block;
  margin: 0 0 20px 0;
}

/*
Module: Policy
*/
.policy-nav {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
.policy-nav li {
  margin: 0;
  border-top: white 1px solid;
  border-bottom: lightgrey 1px solid;
}
.policy-nav li a {
  padding: 8px 10px;
  font-size: 12px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #002857;
  display: block;
}
.policy-nav li a:hover, .policy-nav li a.select {
  color: white;
  background: #002857;
}
.policy-nav li a.select {
  background: #002857 url(../img/icon_arrow_right.png) 95% 50% no-repeat;
}
.policy-nav li:first-child {
  border-top: 0px;
}
.policy-nav li:last-child {
  border-bottom: 0px;
}

.policy-workspace {
  width: 83.05085%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

.policy-iframe {
  width: 100%;
  background: white;
  display: block;
  border: #ddd 1px solid;
  margin: 0;
  padding: 0;
}

.policy-header {
  background: white;
  border: #ddd 1px solid;
  border-bottom: 0px;
  width: 100%;
  margin: 0;
}
.policy-header table {
  margin: 0;
  width: 100%;
}
.policy-header table td {
  padding: 10px;
  border-right: #ededed 1px solid;
}
.policy-header table td:last-child {
  border-right: 0;
}
.policy-header h3 {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0 0 5px 0;
  color: #007ac9;
}
.policy-header h2 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #002857;
  display: inline;
}
.policy-header h2 span {
  color: #fe8400;
}

.ru-container, .zd-container {
  *zoom: 1;
  width: 96.4%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.8%;
  padding-right: 1.8%;
  border: #ddd 1px solid;
  background-color: #f4f4f4;
  display: none;
}
.ru-container:after, .zd-container:after {
  content: "";
  display: table;
  clear: both;
}
.ru-container h1, .zd-container h1, .ru-container h2, .zd-container h2 {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  font-weight: bold;
  margin: 15px 0 0 0;
}
.ru-container h1, .zd-container h1 {
  color: #002857;
  font-size: 24px;
  font-size: 2.4rem;
  text-shadow: 0 1px white;
}
.ru-container h2, .zd-container h2 {
  color: dimgrey;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 20px 0 10px 0;
}

.ru-block {
  margin-top: 20px;
  min-height: 240px;
  box-shadow: #ccc 0 0 1px 1px;
  background: #fff;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
.ru-block:nth-child(4n) {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

.ru-block-shim {
  color: dimgrey;
  padding: 10px 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
.ru-block-shim h3 {
  font-weight: bold;
  margin: 10px 0 8px 0;
}
.ru-block-shim p {
  padding: 0 0 15px 0;
  margin: 0 0 10px 0;
  border: 0;
  line-height: 140%;
}
.ru-block-shim strong {
  font-weight: bold;
  color: #002857;
}

.ru-hybrid p {
  border-bottom: #ddd 1px solid;
}

.ru-list {
  width: 100%;
  border: 0;
  margin: 0;
}
.ru-list td {
  padding: 8px 2px 8px 0;
  border-bottom: #eee 1px solid;
}
.ru-list td:last-child {
  font-weight: bold;
  color: #002857;
}
.ru-list tr:last-child td {
  margin: 0;
  border: 0;
}
.ru-list a {
  color: #007ac9;
  text-decoration: none;
}
.ru-list a i {
  font-size: 16px;
  font-size: 1.6rem;
}
.ru-list a:hover, .ru-list .policy-nav li a.select, .policy-nav li .ru-list a.select {
  color: #165788;
}

.ru-loss-history, .zd-loss-history {
  display: block;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
.ru-loss-history td a, .zd-loss-history td a {
  font-weight: bold;
  color: #007ac9 !important;
}
.ru-loss-history td:first-child, .zd-loss-history td:first-child {
  text-align: center;
}

.ru-menus .menu-close {
  cursor: pointer;
}

.zd-loss-history {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.zd-loss-history td {
  padding-left: 10px;
  padding-right: 10px;
}
