<a href="<%=href%>" class="tr <%=assignedToClass%>" title="<%=assignedToTitle%>">
  <div class="td" title="<%=relatedQuoteId%>"><%=relatedQuoteId%></div>
  <div class="td" title="<%=CarrierId%>"><%=CarrierId%></div>
  <div class="td" title="<%=insuredLastName%>"><%=insuredLastName%></div>
  <div class="td referral-status" title="<%=status%>"><%=status%></div>
  <div class="td" title="<%=prettySubtype%>"><%=prettySubtype%></div>
  <div class="td" title="<%=prettyLastUpdated%>"><%=prettyLastUpdated%></div>
  <div class="td" title="<%=OwningAgent%>"><%=OwningAgent%></div>
  <div class="td" title="<%=OwningUnderwriter%>"><%=OwningUnderwriter%></div>
</a>