<div class="flash-message-container">
  <div id="flash-message-<%=cid%>" class="flash-message"></div>
</div>
<div class="scroll-wrapper">
  <div class="width-wrapper">
    <header class="module-referrals clearfix" id="module-referrals-<%=cid%>">
      <h1>New Business Referral Queue</h1>
      <div id="owner-switch-<%=cid%>" class="owner-switch btn-group pull-left">
        <a href="myreferrals" class="btn btn-default active">My Referrals</a>
        <a href="allreferrals" class="btn btn-default">All Referrals</a>
      </div>
      <button class="btn btn-primary pull-right referrals-refresh">Refresh <span class="glyphicon glyphicon-refresh"></span></button>
      <div class="checkbox pull-right">
        <label>
          <input name="status" type="checkbox"> Show resolved &amp; withdrawn
        </label>
      </div>
    </header>

    <div id="referrals-loader-<%=cid%>" class="referrals-loader">
      <h2 id="referrals-spinner-<%=cid%>">
        <span>Loading Referrals&hellip;</span>
        <button class="abort btn btn-sm btn-dark">Cancel Request <span class="glyphicon glyphicon-remove-circle"></span></button>
      </h2>
    </div>
    <div class="panel panel-default">
      <div class="div-table table-striped table-hover table-condensed table-scrollable table-8-columns module-referrals" data-spy="affix" data-target=".scroll-wrapper">
        <div class="thead">
          <div class="tr">
            <div class="th"><a class="related-quote-id referrals-sort-link" href="relatedQuoteId">Policy Number <span class="glyphicon"></span></a></div>
            <div class="th">Carrier ID <span class="glyphicon"></span></div>
            <div class="th"><a class="insured-last-name referrals-sort-link" href="insuredLastName">Last name <span class="glyphicon"></span></a></div>
            <div class="th"><a class="referral-status referrals-sort-link" href="status">Status <span class="glyphicon"></span></a></div>
            <div class="th"><a class="referral-subtype referrals-sort-link" href="prettySubtype">Type <span class="glyphicon"></span></a></div>
            <div class="th"><a class="referral-last-updated referrals-sort-link" href="lastUpdated">Last updated <span class="glyphicon glyphicon-chevron-down"></span></a></div>
            <div class="th"><a class="referral-submitted-by referrals-sort-link" href="OwningAgent">Agent <span class="glyphicon"></span></a></div>
            <div class="th"><a class="referral-assigned-to referrals-sort-link" href="OwningUnderwriter">Underwriter <span class="glyphicon"></span></a></div>
          </div>
        </div>
        <div class="tbody"></div>
      </div>
      <div class="panel-footer pagination clearfix"><%=pagination%></div>
    </div>
  </div>
</div>
