<div class="panel panel-default">
  <div class="panel-body">
    Uncheck the box next to an underwriter's name if you would like to take the underwriter off the automatic referral list. This is especially useful when an underwriter is on vacation or out sick.
  </div>
</div>

<div class="row">
  <form id="referral-assignees-form">
    {{#isSagesure}}
    <div id="assignee-newbiz" class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New business referrals</h3>
        </div>
        <ul class="list-group"></ul>
      </div>
    </div>

    <div id="assignee-renewal" class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Renewal referrals</h3>
        </div>
        <ul class="list-group"></ul>
      </div>
    </div>
    {{/isSagesure}}
    {{^isSagesure}}
    <div id="assignee-active" class="col-xs-12">
      <div class="panel panel-default">
        <ul class="list-group"></ul>
      </div>
    </div>
    {{/isSagesure}}
  </form>
</div>