<form action="" method="get" accept-charset="utf-8">
	<div id="content">
		<div class="content_body">
			
			<div id="policy_num_input">
				<label class="labelRequired" for="id_identifier">Policy Number</label>
				<input type="hidden" id="id_identifier" name="identifier" value="">
				<input type="hidden" id="page_action" name="page_action" value="none">
			</div>
			
			<fieldset class="columnActions">
				<div class="column">
					<section>
						<h1>Billing &amp; Accounting</h1>
						<ul>
							<li><input name="make_payment" type="submit" value="Make payment"></li>
							<li><input name="invoice" type="submit" value="Invoice"></li>
							<li><input name="apply_charges" type="submit" value="Apply charges"></li>
							<li><input name="change_payment_plan" type="submit" value="Change payment plan"></li>
							<li><input name="premium_disbursement" type="submit" value="Premium disbursement"></li>
							<li><input name="reverse_disbursement" type="submit" value="Reverse disbursement"></li>
							<li><input name="reverse_payment" type="submit" value="Reverse payment"></li>
							<li><input name="write_off" type="submit" value="Write off charges"></li>
						</ul>
					</section>
				</div>
				
				<div class="column">
					<section>
						<h1>Policy Administration</h1>
						<ul>
							<li><input name="issue" type="submit" value="Issue (automatic)"></li>
							<li><input name="issue_manual" type="submit" value="Issue (manual)"></li>
							<li><input name="renew" type="submit" value="Renew"></li>
							<li><input name="cancellation" type="submit" value="Cancel/reinstate"></li>
							<li><input name="endorse" type="submit" value="Endorse"></li>
							<li><input name="change_customer" type="submit" value="Change customer"></li>
							<li><input name="update_mortgagee" type="submit" value="Update mortgagee"></li>
							<li><input name="change_additional_interest" type="submit" value="Change additional interest"></li>
						</ul>
					</section>
				</div>
				
				<div class="column">
					<section>
						<h1>Tools</h1>
						<ul>
							<li><input name="generate_document" type="submit" value="Generate document"></li>
							<li><input name="edit_term" type="submit" value="Edit term data"></li>
						</ul>
					</section>
				</div>
			</fieldset>
		</div>
	</div>
</form>