<div id="content">
	<div id="content_header">
		<h2>mxAdmin</h2>
	</div>
	<div class="content_body">
		<form method="POST" action="login">
			<fieldset>
				<div>
					<label for="username" class="labelRequired">Username</label>
					<input type="text" name="username" id="username" required>
				</div>
            	
				<div>
					<label for="password" class="labelRequired">Password</label>
					<input type="password" name="password" id="password" required>
				</div>
				
				<div class="form_actions">
					<input type="submit" name="submit" value="Log In">
				</div>
			</fieldset>
		</form>
	</div>
</div>