<h1>Renewal underwriting</h1>
<div class="ru-status-block">
	<div class="ru-status">
		<ul>
			<li>Renewal review required: <strong>{{renewal.renewalReviewRequired}}</strong></li>
			<li>Current disposition: <strong><a href="current_disposition">{{insuranceScore.currentDisposition}}&nbsp;<i class="icon-pencil"></i></a></strong></li>
			<li>Assigned to: <strong><a href="assigned_to">{{renewal.assignedTo}}&nbsp;<i class="icon-pencil"></i></a></li></strong>
			<li>Insurance score: <div><span class="ru-score">Old: <em>{{insuranceScore.oldInsuranceScore}}</em></span> <span class="ru-score">New: <em>{{insuranceScore.newInsuranceScore}}</em></span></div></li>
			{{#reviewStatusFlag}}
			<li>
				Renewal review reasons:
				<p class="renewal_reason">{{renewal.reason}}</p>
			</li>
			{{/reviewStatusFlag}}
		</ul>
	</div>
	<div class="ru-status-table">
		<div class="ru-table-shim">
		<table>
			<tr>
				<td>Review start:</td>
				<td><input type="text" value="{{renewal.reviewPeriod}}" name="reviewPeriod" /> <a href="review_period"><i class="icon-calendar"></i></a></td>
			</tr>
			<tr>
				<td>Review deadline:</td>
				<td><input type="text" value="{{renewal.reviewDeadline}}" name="reviewDeadline" /> <a href="review_deadline"><i class="icon-calendar"></i></a></td>
			</tr>
			<tr>
				<td>Non-payment cancellations:</td>
				<td>{{insuranceScore.nonPaymentCancellations}}</td>
			</tr>
			<tr>
				<td>NSF / Chargebacks:</td>
				<td>{{insuranceScore.nonSufficientFunds}}</td>
			</tr>
			<tr>
				<td>Inspection ordered:</td>
				<td><a href="inspection_ordered"><i class="icon-eye-open"></i> {{renewal.inspectionOrdered}}</a></td>
			</tr>
		</table>
		</div>
	</div>
</div>
{{#lossHistoryFlag}}
<h2>Loss history</h2>
<div class="ru-loss-history-container">
	<table class="ru-loss-history">
		<thead>
			<tr>
				<th>Loss</th>
				<th>Date&nbsp;of&nbsp;loss</th>
				<th>Claim&nbsp;#</th>
				<th>Amount</th>
				<th>Status</th>
				<th>Cause&nbsp;of&nbsp;loss</th>
				<th>Cat&nbsp;indicator</th>
				<th>Loss&nbsp;carrier</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{{#lossHistory}}
			<tr>
				<td>{{lossNumber}}</td>
				<td>{{lossDate}}</td>
				<td>{{claimNumber}}</td>
				<td>{{amount}}</td>
				<td>{{status}}</td>
				<td>{{lossCause}}</td>
				<td>{{catIndicator}}</td>
				<td>{{lossCarrier}}</td>
				<td>{{description}}</td>
			</tr>
			{{/lossHistory}}
		</tbody>
	</table>
</div>
{{/lossHistoryFlag}}
{{^lossHistoryFlag}}
<h2>&nbsp;</h2>
{{/lossHistoryFlag}}