<h1>Renewal underwriting</h1>
<div class="ru-block">
	<div class="ru-block-shim">
		<table class="ru-list">
			<tr><td>Renewal review required:</td><td>Yes</td></tr>
			<tr><td>Review status:</td><td>New</td></tr>
			<tr><td>Inspection ordered:</td><td>Yes</td></tr>
			<tr><td>Review period:</td><td>2012-10-10</td></tr>
			<tr><td>Review deadline:</td><td>2012-05-05</td></tr>
			<tr><td>Assigned to:</td><td><a href="assigned_to">Joy Jackson&nbsp;<i class="icon-pencil"></i></a></td></tr>
		</table>
	</div>
</div>
<div class="ru-block">
	<div class="ru-hybrid ru-block-shim">
		<h3>Insurance score:</h3>
		<p>
			Old: <strong>Acceptable</strong>  |  New: <strong>Excellent</strong>
		</p>	
		<table class="ru-list">
			<tr><td>Current disposition:</td><td><a href="current_disposition">Pending&nbsp;<i class="icon-pencil"></i></a></td></tr>
			<tr><td>Non-payment cancellations:</td><td>0</td></tr>
			<tr><td>NSFs:</td><td>0</td></tr>
		</table>
	</div>
</div>
<div class="ru-block omega">
	<div class="ru-block-shim">
		<h3>Renewal review reasons</h3>
		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	</div>
</div>

<h2>Loss history</h2>
<table class="ru-loss-history">
	<thead>
		<tr>
			<th>Loss</th>
			<th>Date&nbsp;of&nbsp;loss</th>
			<th>Claim&nbsp;#</th>
			<th>Amount</th>
			<th>Status</th>
			<th>Cause&nbsp;of&nbsp;loss</th>
			<th>Cat&nbsp;indicator</th>
			<th>Loss&nbsp;carrier</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="">1</a></td>
			<td>09/28/2012</td>
			<td>11C538901</td>
			<td>10,258.00</td>
			<td>Open</td>
			<td>Water damage</td>
			<td>Yes</td>
			<td>State Farm Insurance Co.</td>
			<td>Local riots over release of new Cabbage Patch™ dolls escalated to apocalyptic levels</td>
		</tr>
		<tr>
			<td><a href="">2</a></td>
			<td>09/28/2012</td>
			<td>11C538901</td>
			<td>10,258.00</td>
			<td>Open</td>
			<td>Water damage</td>
			<td>Yes</td>
			<td>State Farm Insurance Co.</td>
			<td>Roof airlifed to Oz via tornado</td>
		</tr>
		<tr>
			<td><a href="">3</a></td>
			<td>09/28/2012</td>
			<td>11C538901</td>
			<td>10,258.00</td>
			<td>Open</td>
			<td>Water damage</td>
			<td>Yes</td>
			<td>State Farm Insurance Co.</td>
			<td>Zombies.</td>
		</tr>
	</tbody>
</table>