<header class="module-search" id="module-search-{{cid}}">
	<h1>Policy Search</h1>
	<ul>
		<li class="search-controls search-control-context" id=""><a href="">Current context: <strong>All Policies</strong> <i class="icon-caret-down"></i></a></li>
		<li class="search-controls search-control-save" id=""><a href=""><i class="icon-plus"></i> Save view <i class="icon-caret-down"></i></a></li>
		<li class="search-controls search-control-share" id=""><a href=""><i class="icon-bookmark"></i> Share view <i class="icon-caret-down"></i></a></li>
		<li class="search-controls search-control-pin" id=""><a href=""><i class="icon-pushpin"></i> Pin view</a></li>
	</ul>
</header>
<div id="search-filters-{{cid}}" class="module-search filters">
	<form action="search_submit" method="get" accept-charset="utf-8">
		<label for="search-query">Search:</label>
		<select name="query-type" class="query-type">
			<option value="all">Quotes &amp; policies</option>
			<option value="quote">Quotes only</option>
			<option value="policy">Policies only</option>
		</select>
		<input type="search" name="search-query" value="" placeholder="Enter search terms" />
		<a href="" class="search-control-refresh"><i class="icon-refresh"></i> Refresh results</a>
	</form>
</div>
<div id="search-loader-{{cid}}" class="search-loader">
	<h2 id="search-spinner-{{cid}}"><span>Searching Policies&hellip;<span></h2>
</div>
<table class="module-search">
	<thead>
		<tr>
			<th><a class="search-sort-link" href="quote-number" data-dir="asc">Quote #</a></th>
			<th><a class="search-sort-link" href="policy-number" data-dir="asc">Policy #</a></th>
			<th>Form</th>
			<th><a class="search-sort-link" href="last-name" data-dir="asc">Name</a></th>
			<th>Address</th>
			<th><a class="search-sort-link" href="status" data-dir="asc">Status</a></th>
			<th><a class="search-sort-link" href="effective-date" data-dir="asc">Effective</a></th>
			<th>Renewal UW Status</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<div id="search-pagination-{{cid}}" class="module-search pagination">
	<form action="pagination" method="get" accept-charset="utf-8">
		<div class="pagination-a">
			<span>Items </span>
		</div>
		<div class="pagination-b">
			<label for="search-pagination-page-{{cid}}">Jump to page:</label>
			<select class="search-pagination-page" name="search-pagination-page" id="search-pagination-page-{{cid}}">
			</select>
		</div>
		<div class="pagination-c">
			<label for="search-pagination-perpage-{{cid}}">Result count:</label>
			<select class="search-pagination-perpage" name="search-pagination-perpage" id="search-pagination-perpage-{{cid}}">
				<option value="15" selected>15 per page</option>
				<option value="25">25 per page</option>
				<option value="50">50 per page</option>
				<option value="75">75 per page</option>
				<option value="100">100 per page</option>
			</select>
		</div>
	</form>
</div>