<h1>Renewal underwriting</h1>
<div class="ru-block">
	<div class="ru-block-shim">
		<table class="ru-list">
			<tr><td>Renewal review required:</td><td>{{renewal.renewalReviewRequired}}</td></tr>
			<tr><td>Review status:</td><td>{{renewal.reviewStatus}}</td></tr>
			<tr><td>Inspection ordered:</td><td>{{renewal.inspectionOrdered}}</td></tr>
			<tr><td>Review period:</td><td>{{renewal.reviewPeriod}}</td></tr>
			<tr><td>Review deadline:</td><td>{{renewal.reviewDeadline}}</td></tr>
			<tr><td>Assigned to:</td><td><a href="assigned_to">{{renewal.assignedTo}}&nbsp;<i class="icon-pencil"></i></a></td></tr>
		</table>
	</div>
</div>
<div class="ru-block">
	<div class="ru-hybrid ru-block-shim">
		<h3>Insurance score:</h3>
		<p>
			Old: <strong>{{insuranceScore.oldInsuranceScore}}</strong>  |  New: <strong>{{insuranceScore.newInsuranceScore}}</strong>
		</p>	
		<table class="ru-list">
			<tr><td>Current disposition:</td><td><a href="current_disposition">{{insuranceScore.currentDisposition}}&nbsp;<i class="icon-pencil"></i></a></td></tr>
			<tr><td>Non-payment cancellations:</td><td>{{insuranceScore.nonPaymentCancellations}}</td></tr>
			<tr><td>NSFs:</td><td>{{insuranceScore.nonSufficientFunds}}</td></tr>
		</table>
	</div>
</div>
<div class="ru-block omega">
	<div class="ru-block-shim">
		<h3>Renewal review reasons</h3>
		<p>{{renewal.reason}}</p>
	</div>
</div>

<h2>Loss history</h2>
<table class="ru-loss-history">
	<thead>
		<tr>
			<th>Loss</th>
			<th>Date&nbsp;of&nbsp;loss</th>
			<th>Claim&nbsp;#</th>
			<th>Amount</th>
			<th>Status</th>
			<th>Cause&nbsp;of&nbsp;loss</th>
			<th>Cat&nbsp;indicator</th>
			<th>Loss&nbsp;carrier</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{{#lossHistory}}
		<tr>
			<td>{{lossNumber}}</td>
			<td>{{lossDate}}</td>
			<td>{{claimNumber}}</td>
			<td>{{amount}}</td>
			<td>{{status}}</td>
			<td>{{lossCause}}</td>
			<td>{{catIndicator}}</td>
			<td>{{lossCarrier}}</td>
			<td>{{description}}</td>
		</tr>
		{{/lossHistory}}
	</tbody>
</table>