<div id="policy-nav-{{cid}}" class="policy-nav">
	<ul>
		<li><a href="overview" class="select">Overview</a></li>
		<li><a href="ipmchanges">IPM Changes</a></li>
<!-- 	<li><a href="servicerequests">Service requests</a></li>
		<li><a href="renewalunderwriting">Renewal underwriting</a></li>
		<li><a href="datatransmission">Data transmission jobs</a></li>
		<li><a href="policytransactions">Policy transaction history</a></li> -->
	</ul>
</div>
<div id="policy-workspace">
	<div id="policy-header-{{cid}}" class="policy-header"></div>
	<div id="policy-summary-{{cid}}" class="policy-iframe">
		<p>NO FRASH HERE!</p>
	</div>
	<iframe id="policy-iframe-{{cid}}" class="policy-iframe" data-ipm-policy="{{policy_id}}" data-ipm-auth="{{auth_digest}}" src="" frameborder="0"></iframe>
</div>