<header class="module-search" id="module-search-{{cid}}">
	<h1>Policy Search</h1>
	<ul>
		<li class="search-controls search-control-context" id=""><a href="">Current context: <strong>All Policies</strong> <i class="icon-caret-down"></i></a></li>
		<li class="search-controls search-control-save" id=""><a href=""><i class="icon-plus"></i> Save view <i class="icon-caret-down"></i></a></li>
		<li class="search-controls search-control-share" id=""><a href=""><i class="icon-bookmark"></i> Share view <i class="icon-caret-down"></i></a></li>
		<li class="search-controls search-control-pin" id=""><a href=""><i class="icon-pushpin"></i> Pin view</a></li>
	</ul>
</header>
<div id="search-filters-{{cid}}" class="module-search filters">
	<form action="search_submit" method="get" accept-charset="utf-8">
		<label for="">Filter policies</label>
		<select name="">
			<option value="">Quotes &amp; policies</option>
		</select>
		<input type="search" name="" value="" placeholder="Enter search terms" />
		<a href="" class="search-control-refresh"><i class="icon-refresh"></i> Refresh results</a>
	</form>
</div>
<table class="module-search">
	<thead>
		<tr>
			<th><a href="">Quote #</a></th>
			<th><a href="">Policy #</a></th>
			<th><a href="">Form</a></th>
			<th><a href="">Name</a></th>
			<th><a href="">Address</a></th>
			<th><a href="">Status</a></th>
			<th><a href="">Effective</a></th>
			<th><a href="">Renewal UW Status</a></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<div id="search-pagination-{{cid}}" class="module-search pagination">
	<form action="pagination" method="get" accept-charset="utf-8">
		<div class="pagination-a">
			<span>Items 1 - 15 of 100</span>
		</div>
		<div class="pagination-b">
			<label for="">Jump to page:</label>
			<select name="">
				<option value="">5</option>
			</select>
		</div>
		<div class="pagination-c">
			<label for="">Result count:</label>
			<select name="">
				<option value="">100 per page</option>
			</select>
		</div>
	</form>
</div>
<!-- TEMPLATE: Context menu -->
<script type="text/template" id="tpl-context-menu">
	<div class="search-menus search-menu-context" id="">
		<table>
			<thead>
				<tr>
					<th>Search views</th>
					<th class="menu-close"><i class="icon-remove-circle"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Stuff</td>
					<td>[]</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>

<!-- TEMPLATE: Save menu -->
<script type="text/template" id="tpl-save-menu">
	<div class="search-menus search-menu-save" id="">
		<table>
			<thead>
				<tr>
					<th>Save views</th>
					<th class="menu-close"><i class="icon-remove-circle"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Stuff</td>
					<td>[]</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>

<!-- TEMPLATE: Share menu -->
<script type="text/template" id="tpl-share-menu">
	<div class="search-menus search-menu-share" id="">
		<table>
			<thead>
				<tr>
					<th>Share views</th>
					<th class="menu-close"><i class="icon-remove-circle"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Stuff</td>
					<td>[]</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>