<form class="form-horizontal col-xs-12">
  <div class="form-group form-group-sm pagination-group">
    <div class="col-xs-4">
      <% if (totalItems > 0) { %>
      <label class="pagination-label">Items <strong><%= start %> - <%= end %></strong> of <strong><%= totalItems %></strong></label>
      <% } %>
    </div>
    <div class="col-xs-4">
      <label for="pagination-page" class="col-xs-5 control-label">Jump to page:</label>
      <div class="col-xs-3">
        <select class="pagination-page form-control" name="pagination-page">
          <% _.each(pages, function(page) { %>
          <option value="<%= page %>"<% if (page === currentPage) { %> selected<% } %>>
          <%= page %>
          </option>
          <% }) %>
        </select>
      </div>
    </div>
    <div class="col-xs-4">
      <label for="pagination-perpage" class="col-xs-7 control-label">Result count:</label>
      <div class="col-xs-5">
        <select class="pagination-perpage form-control" name="pagination-perpage">
          <% _.each(perPageOpts, function (val) { %>
          <option value="<%= val %>"<% if (val === perPage) { %> selected<% } %>><%= val %> per page</option>
          <% }) %>
        </select>
      </div>
    </div>
  </div>
</form>