<div id="form-login">
	<form id="form-login" action="login" method="post" accept-charset="utf-8">
		<h1>Login to Policy Central</h1>
		<div>
    		<label for="username">Your email: </label>
    		<input type="text" name="username" id="username" value="" placeholder="Please enter your email" />
    	</div>
    	<div>
    		<label for="password">Password: </label>
    		<input type="password" name="password" id="password" value="" placeholder="Please enter your password" />
    	</div>
    	<div>
    		<input type="submit" name="login-button" id="login-button" value="Login" />
    	</div>
	</form>
</div>