<div id="form-login">
    <div id="search-loader-{{cid}}" class="search-loader">
        <h2 id="search-spinner-{{cid}}"><span>Checking credentials&hellip;</span></h2>
    </div>
	<form id="form-logins" action="login" method="post" accept-charset="utf-8">
		<h1>Welcome to Policy Central</h1>
		<div>
    		<label for="username">Your email: </label>
    		<input type="text" name="username" id="username" value="" placeholder="Please enter your email" />
    	</div>
    	<div>
    		<label for="password">Password: </label>
    		<input type="password" name="password" id="password" value="" placeholder="Please enter your password" />
    	</div>
    	<div id="form-login-button" style="margin-bottom:0px;">
		    <div><a href="">Forgot your password?</a></div>
		    <input type="submit" name="login-button" id="login-button" value="Login to Policy Central" />
    	</div>
	</form>
</div>